    /*// @import "normolized.scss";
    // @import "old.scss";
    // @import "style.scss";
    // @import "responsive.scss";
    // import "new.scss";*/
    .page-node-77986 {
        #content {
            padding: 0px 0px 50px;
        }
        .banner_project {
            display: block;
            position: relative;
            box-sizing: border-box;
            padding-bottom: 20px;
            overflow: hidden;
        }
    }

    #node-77986 {
        padding: 0 15%;
        margin: 0;
        h1 {
            text-align: center;
            font-size: 2em;
        }
        .field-name-body {
            padding: 0 0%;
            color: #444;
        }
        .captcha {
            text-align: center;
            img {
                border: 1px solid #B4B8B7;
            }
        }
        .form-item-captcha-response {
            display: inline-block;
            vertical-align: top;
            margin: 0px 35px;
        }
        textarea {
            outline: none;
            margin-top: 5px;
            border: 1px solid #b4b8b7;
            padding: 9px;
            /*// box-shadow: inset 0 2px 7px rgba(0, 0, 0, .11);*/
        }
        input[type=submit] {
            background: #fda911;
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fda911), color-stop(100%, #ee8e03));
            background: -webkit-linear-gradient(top, #fda911 0%, #ee8e03 100%);
            background: linear-gradient(to bottom, #fda911 0%, #ee8e03 100%);
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border: none;
            color: #fff;
            border-bottom: 2px solid #cc7b02;
            text-shadow: 0 -1px 1px #b97608;
            font-size: 25px;
            width: 215px;
            margin: 10px auto;
            display: block;
            padding: 10px 20px;
        }
        .webform-component-textfield {
            width: 50%;
            display: inline-block;
            vertical-align: top;
            margin-left: -6px;
            &.webform-component--name {
                box-sizing: border-box;
                padding-right: 35px;
                margin-left: 0px;
            }
            input {
                outline: none;
                width: 100%;
                box-sizing: border-box;
                padding: 7px;
                margin-top: 5px;
                border: 1px solid #b4b8b7;
                padding: 9px;
                /*// box-shadow: inset 0 2px 7px rgba(0, 0, 0, .11);*/
            }
        }
    }

    .hc__reply__box.changed:after {
        content: "Уважаемые читатели! По закону о СМИ мы не имеем права публиковать (в комментариях – в том числе) высказывания, разжигающие вражду по национальному, религиозному, половому расовому признаку, а также мат (даже с пропущенными или переставленными буквами). При однократном нарушении такие комментарии отправляются в спам, при повторном комментатор будет заблокирован.";
        font-size: 11px;
        line-height: 1.4;
        color: #444;
        padding-top: 5px;
        display: block;
        position: relative;
    }

    #feedback .feedback__desc {
        text-align: center;
        margin-bottom: 30px;
        margin-top: -10px;
    }

    .adf_sg_vstg2 {
        margin: -5px -8px 15px -8px !important;
    }

    .inner_feedback .form-item.webform-component-email,
    .inner_feedback .form-item.webform-component-textarea {
        float: none;
        margin: 0 0 0 0px;
    }

    .inner_feedback {
        position: relative;
        .form-item {
            width: 370px;
            margin: 0;
            display: block;
        }
        form {
            position: relative;
        }
        .form-item.webform-component--phone {
            margin: 10px 0 0 0px;
        }
        .form-item.webform-component-textarea {
            margin: 0px 0 0 0px;
            position: absolute;
            top: 0;
            right: 0;
            textarea {
                width: 375px;
                height: 196px;
            }
        }
        .captcha {
            position: relative;
            top: 5px;
            display: block;
            img {
                float: right;
                margin: 30px 246px 0 0;
                border: 1px solid #b4b4b4;
                width: 121px;
                height: auto;
            }
        }
    }

    #block-menu-menu-business ul.menu li.leaf a {
        color: #e8eee8;
        font-size: 15px;
    }

    #block-menu-menu-business ul.menu li.last a {
        margin-top: 5px;
        display: block;
    }

    #block-menu-menu-business ul.menu li.expanded li.last a {
        margin-top: 0px;
        display: block;
    }

    #block-system-main-menu .menu {
        overflow: hidden;
        height: 40px;
        li {
            a {
                padding: 0px 16px;
                font-size: 20px;
            }
            /*// &.last {
            //     a {
            //         background: url(../img/nashestvie_button_2.png) no-repeat center !important;
            //         text-indent: -99999px;
            //         width: 145px;
            //     }
            // }*/
        }
    }

    #block-block-5 ul.menu li.last a {
        display: none;
    }

    .sqid.view-ui-grid .settings-1 .views-field-title h3 {
        display: block;
    }
    .view-id-news.view-display-id-block_14 {
        display: none;
    }
    .view-id-news.view-display-id-block_14 h3 a {
        display: block;
    }

    .news__story {
        .renjwplayer {
            display: inline-block;
            width: 550px;
            .renjwplayer__container {
                width: 550px !important;
                height: 320px !important;
            }
            &>div {
                width: 550px !important;
                height: 320px !important;
            }
            .jw-flag-fullscreen {
                    width: 100% !important;
                    height: auto !important;
            }
        }
    }

    .view-id-news.view-display-id-block_14 {
        margin: 0 -65px 20px 15px !important;
    }

    .view-display-id-alphabet {
        h3 {
            &:nth-child(1) {
                border-top: none;
            }
            padding: 1.3em 0 1em;
            margin: 0;
            border-top: 1px solid #dddddd;
            color: #f89200;
            margin-right: 30px;
        }
        #alpha_index {
            list-style: none;
            margin: 0;
            padding: 0;
            background: #e9e9e9;
            margin-left: -66px;
            position: fixed;
            box-shadow: inset -10px 0px 7px -9px rgba(0, 0, 0, 0.52);
            width: 36px !important;
            text-align: center;
            overflow: hidden;
            li {
                padding: 4px 0;
                display: block;
                &.active {
                    a {
                        background: #c8c8c8;
                        box-shadow: inset -10px 0px 7px -9px rgba(0, 0, 0, 0.52);
                    }
                }
                a {
                    color: #000;
                    padding: 4px 13px;
                    border-bottom: 1px solid #c8c8c8;
                    &:hover {
                        background: #c8c8c8;
                        box-shadow: inset -10px 0px 7px -9px rgba(0, 0, 0, 0.52);
                    }
                }
            }
        }
        .views-row {
            display: inline-block;
            vertical-align: top;
            width: 250px;
            position: relative;
            margin-bottom: 30px;
            margin-right: 26px;
            h4 {
                font-size: 18px;
                margin: 0;
                text-align: center;
                a {
                    color: #000;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    /*// Новый видеоархив*/
    .view-display-id-popular {
        .views-row {
            display: inline-block;
            vertical-align: top;
            width: 250px;
            position: relative;
            margin-bottom: 30px;
            margin-right: 26px;
            h3 {
                font-size: 16px;
                margin: 0;
                a {
                    color: #000;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            .views-field-totalcount-datetime {
                position: relative;
                display: table;
                color: #666666;
                font-size: 14px;
                margin: 7px 0 5px;
                .views-subfield-totalcount {
                    display: table-cell;
                    margin: 5px 0;
                    &:before {
                        margin-right: 10px;
                        content: "\f06e";
                        display: inline-block;
                        font: normal normal normal 16px/1 FontAwesome;
                    }
                    &:after {
                        content: "|";
                        margin: 0 10px;
                        vertical-align: top;
                    }
                }
                .views-subfield-datetime {
                    display: table-cell;
                }
            }
        }
        /*// Пагинатор*/
        .item-list .pager {
            text-align: left;
            margin-left: 5px;
            margin-top: 23px;
            & li {
                padding: 0;
                margin: 0 0 0 -6px;
                &.first {
                    border-radius: 5px 0 0 5px;
                }
                &.pager-next a {
                    border-radius: 0px 5px 5px 0px;
                }
                &.pager-first.first {
                    display: none;
                }
                &.pager-current {
                    position: relative;
                    padding: 6px 12px;
                    line-height: 1.42857143;
                    text-decoration: none;
                    border: 1px solid #ddd;
                    margin-left: -6px;
                    color: #444;
                    font-weight: 400;
                    background-color: #fff6d3;
                    box-shadow: inset 0 6px 11px -8px rgba(0, 0, 0, .5);
                }
                & a {
                    position: relative;
                    padding: 6px 12px;
                    line-height: 1.42857143;
                    color: #444;
                    text-decoration: none;
                    background-color: #fff;
                    border: 1px solid #ddd;
                    margin: 0;
                }
                .pager-ellipsis {
                    background: #fff;
                    padding: 6px;
                    border: 1px solid #dadada;
                }
            }
        }
    }

    .page-proekti {
        #content {
            padding: 26px 26px 50px;
        }
        .main-with-sidebar {
            width: 840px;
        }
        #sidebar {
            width: 300px;
            margin: 0;
            text-align: center;
        }
        #prolog {
            padding: 0;
        }
        .region-prolog {
            margin: 0;
        }
    }
    .node-type-project {
        #prolog {
            padding: 0;
        }
    }
    #block-menu-menu-vod {
        position: relative;
        background: #e9e9e9;
        height: 40px;
        margin-top:0;
        margin-bottom: 20px;
        border-bottom: 1px solid #d6d6d6;
        .menu {
            height: 40px;
            display: table;
            background: #e9e9e9;
            vertical-align: top;
            a.active {
                background: #fff;
                color: #f99201;
            }
            li {
                display: table-cell;
                vertical-align: top;
                &.expanded {
                    a {
                        padding-right: 18px;
                    }
                    a:after {
                        margin-left: 10px;
                        content: "\f0d7";
                        display: inline-block;
                        font: normal normal normal 16px/1 FontAwesome;
                    }
                    &:hover > ul {
                        display: block;
                        background: #d8d8d8;
                        box-shadow: inset 0px 3px 6px -5px #000, 0 2px 4px rgba(0, 0, 0, .3);
                    }
                    &:hover a:after {
                        content: "\f0d8";
                    }
                    & > ul {
                        z-index: 20;
                        display: none;
                        height: inherit;
                        position: absolute;
                        left: 0;
                        width: 100%;
                        box-shadow: 0 11px 16px -7px rgba(0, 0, 0, 0.38);
                        li {
                            display: inline-block;
                            margin-right: -5px;
                            &.active-trail {
                                a {
                                    background: #fff;
                                    color: #f99201;
                                    box-shadow: inset 0 6px 13px -11px #000;
                                    border-bottom: 1px solid #fff;
                                    border-right: 0;
                                    &.active-trail {
                                        background: #e9e9e9;
                                        color: #000;
                                    }
                                }
                            }
                            &.first {
                                a {
                                    padding: 0 15px 0 26px;
                                }
                            }
                            a {
                                line-height: 38px;
                                font-size: 16px;
                                padding: 0 15px;
                                text-align: center;
                                text-transform: inherit;
                                border-right: 0;
                                &:after {
                                    display: none;
                                }
                                &:hover {
                                    box-shadow: inset 0 6px 13px -11px #000;
                                    background: #fff;
                                    color: #f99201;
                                    border-bottom: 1px solid #fff;
                                }
                            }
                        }
                    }
                }
                &.active-trail {
                    a {
                        background: #fff;
                        /*// border-bottom: 1px solid #fff;*/
                        color: #f99201;
                        &.active-trail {
                            background: #e9e9e9;
                            color: #000;
                            &.active {
                                background: #fff;
                                color: #f99201;
                            }
                        }
                    }
                    ul {
                        li {
                            a {
                                background: #d8d8d8;
                                color: #000;
                                box-shadow: inset 0 6px 13px -11px #000;
                                border-bottom: 1px solid #d8d8d8;
                            }
                        }
                    }
                }
                a {
                    line-height: 40px;
                    display: block;
                    padding: 0 30px;
                    text-transform: uppercase;
                    color: #000;
                    border-bottom: 1px solid #d6d6d6;
                    border-right: 1px solid #d6d6d6;
                    font-weight: bold;
                    &[href="/proekti/alfavit"] {
                        &:before {
                            margin-right: 10px;
                            content: "\f0c9";
                            display: inline-block;
                            font: normal normal normal 16px/1 FontAwesome;
                        }
                    }
                    &:hover {
                        background: #fff;
                        /*// border-bottom: 1px solid #fff;*/
                        color: #f99201;
                    }
                }
            }
        }
    }

    .ajax-progress,
    li.pager-first.first {
        display: none
    }

    .node-type-episode .epizod {
        background: #e9e9e9;
        padding: 30px;
        &__title {
            h2 {
                margin: 0;
                display: inline-block;
                vertical-align: top;
                font-size: 22px;
            }
            .field-name-field-datetime {
                display: inline-block;
                vertical-align: top;
                font-size: 22px;
                margin-left: 20px;
            }
            .field-name-field-ref-season {
                display: inline-block;
                vertical-align: top;
                font-size: 22px;
                margin-left: 20px;
            }
        }
    }

    .node-type-news #content .main-with-sidebar {
        /*// #block-system-main {
        //     padding-top: 0;
        // }
        // .block-block {
        // padding-top: 0;
        // position: relative;
        // }*/
    }

    .sk_head_84661 {
        font-size: 16px !important;
        font-family: "Pt Sans", Arial, sans-serif;
        display: block;
        clear: both;
        vertical-align: top;
        height: 24px;
        text-align: left;
    }

    #block-block-67 {
        &:before {
            content: " ";
            background: url('../img/sportexpress.png') no-repeat 0 0;
            width: 184px;
            height: 28px;
            display: block;
            background-position: 0;
            margin-bottom: 5px;
            margin-top: 0px;
            background-size: 110px;
        }
        #SportExpress_content {
            margin: 10px 0 15px;
        }
        h2 {
            display: block;
            margin-bottom: 10px;
            font-size: 16px;
            color: #000;
            font-weight: bold;
            font-family: "Pt Sans", Arial, sans-serif;
        }
        .teaserList {
            display: table;
            vertical-align: top;
            margin: 0px;
        }
        .teaserBlock {
            width: 258px;
            display: table-cell;
            padding-bottom: 5px;
            margin: 0 8px;
            vertical-align: top;
            &:nth-child(4) {
                display: none;
            }
            a {
                vertical-align: top;
                text-align: left;
                overflow: hidden;
                font-size: 18px;
                color: rgb(26, 26, 26);
                display: block;
                font-weight: normal;
                line-height: 17px;
                font-family: Arial, Helvetica, sans-serif;
                text-decoration: none;
                padding: 0;
            }
        }
        .teaserBlock__img {
            display: inline-block;
            width: 60px;
            height: 60px;
            vertical-align: top;
            padding: 0;
            margin-right: 12px;
            overflow: hidden;
            float: left;
            img {
                width: 80px;
                height: 60px;
            }
        }
        .teaserBlock__title {
            color: #1c1c1c;
            vertical-align: top;
            font-size: 14px;
            text-align: left;
            line-height: 1.2;
            padding-right: 0;
            span {
                display: inline;
                line-height: 1.3;
                vertical-align: top;
            }
        }
    }

    #block-block-69 {
        margin: 0 -16px 0 0;
        #SportExpress_content_big {
            margin-bottom: 10px;
        }
        h2 {
            display: block;
            margin-top: 0;
            margin-bottom: 10px;
            font-size: 16px !important;
            color: #000;
            height: 24px;
            font-weight: bold;
            font-family: "Pt Sans", Arial, sans-serif;
            display: block;
            clear: both;
            vertical-align: top;
            text-align: left;
        }
        .teaserList {
            display: table;
            vertical-align: top;
            margin: 0px;
        }
        .teaserBlock {
            width: 258px;
            display: table-cell;
            padding-bottom: 5px;
            margin: 0 8px;
            vertical-align: top;
            a {
                vertical-align: top;
                text-align: left;
                overflow: hidden;
                font-size: 18px;
                color: #000;
                line-height: 24px;
                font-weight: bold;
                font-family: "PT Sans", Arial, sans-serif;
                text-decoration: none;
                display: inline-block;
                padding: 0;
            }
        }
        .teaserBlock__img {
            width: 200px;
            height: auto;
            vertical-align: top;
            padding: 0;
            margin-right: 12px;
            overflow: hidden;
            float: left;
            img {
                width: 200px;
                height: auto;
            }
        }
        .teaserBlock__title {
            color: #1c1c1c;
        }
    }

    #da996499 {
        .mgline {
            display: table-cell !important;
        }
        .mgbox {
            display: table !important;
            margin-bottom: 20px !important;
        }
        .mctitle {
            padding: 0 10px;
        }
    }

    #block-block-56 .rambler_header2 {
        position: relative;
    }

    /*// Отступ*/
    #block-block-54,
    #block-block-60,
    #block-block-56,
    #block-block-59,
    #block-block-69,
    #block-block-55 {
        margin-bottom: 15px !important;
    }

    #block-block-55 {
        .mm-body__line a {
            &:hover {
                text-decoration: none !important;
            }
        }
    }

    #block-block-54 {
        padding-top: 0;
        .rambler_header2 {
            padding: 4px 0;
            position: relative;
        }
    }

    .page-proekti {
        #block-views-projects-project-teaser {
            .view-content {
                margin: 0 -13px;
            }
            .views-row {
                box-shadow: none;
                width: 250px;
                margin: 0 13px 20px;
                img {
                    width: 250px;
                    height: auto;
                }
                .views-field-title {
                    text-align: center;
                    a {
                        color: #000;
                        font-weight: bold;
                        text-align: center;
                    }
                }
            }
        }
        .view-display-id-vod__slideshow_project {
            .bx-wrapper {
                margin: 0;
                .bx-viewport {
                    left: 0;
                }
                .bx-pager {
                    padding: 0;
                    margin-top: -20px;
                    z-index: 100;
                    position: absolute;
                    width: 100%;
                    &.bx-default-pager a {
                        background: #fff;
                        box-shadow: none;
                        opacity: .9;
                        &.active {
                            background: #faaf40;
                        }
                    }
                }
            }
        }
    }

    #feedback .feedback__desc {
        background: red;
        color: #fff;
        padding: 30px;
        font-size: 20px;
        a {
            color: #fff;
            font-weight: bold;
            text-decoration: underline;
        }
    }

    /*// .page-node-357 {
    //     .wrapper {
    //             margin-top: 0;
    //     max-width: 100%;
    //     }
    //     .altadblock {
    //         display: none;
    //     }
    //     .base {
    //             width: 100%;
    //     }
    // }*/
    .sqid.view-ui-grid.promo--rubric {
        .view-content {
            padding: 0;
            overflow: initial;
        }
        .views-field-created {
            display: none;
        }
        .views-row {
            float: left;
            width: 268px;
            height: 151px;
            position: relative;
            margin-bottom: 16px;
            overflow: hidden;
            &:hover img {
                -webkit-transform: scale(1.1);
                transform: scale(1.1);
            }
            &.views-row-2 {
                margin: 0 0px 16px;
            }
            &.views-row-first {
                float: left;
                width: 565px;
                height: 318px;
                margin-right: 17px;
                position: relative;
                margin-bottom: 16px;
                img {
                    width: 100%;
                    height: inherit;
                }
                .views-field-title {
                    a {
                        padding: 40px 30px 20px;
                        h3 {
                            font-size: 1.5em;
                            line-height: 1.3;
                            margin-bottom: 10px;
                        }
                    }
                }
                .views-field-field-image .i-video2 a:after {
                    width: 50px;
                    right: 15px;
                    bottom: 15px;
                    height: 50px;
                }
            }
            .views-field-field-image {
                background: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
                a {
                    height: auto;
                }
                .i-video2 a:after {
                    content: " ";
                    position: absolute;
                    background: url(../img/video_icon.svg?4) no-repeat;
                    width: 35px;
                    height: 35px;
                    display: block;
                    margin-left: 0;
                    vertical-align: middle;
                    margin-top: 0;
                    opacity: .85;
                    bottom: 10px;
                    right: 10px;
                }
            }
            &.settings-1 .views-field-title h3 {
                background: initial;
            }
            img {
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-transition: .3s ease-in-out;
                transition: .3s ease-in-out;
                width: 268px;
                height: auto;
            }
            .views-field-title {
                position: absolute;
                bottom: 0;
                width: 100%;
                z-index: 200;
                a {
                    width: 100%;
                    margin-bottom: 0;
                    width: 100%;
                    transition: all 1s ease-in;
                    -moz-transition: all 1s ease-in;
                    -webkit-transition: all 1s ease-in;
                    -o-transition: all 1s ease-in;
                    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0)0%, rgba(0, 0, 0, .9)100%);
                    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, .9)));
                    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0)0%, rgba(0, 0, 0, .9)100%);
                    background: -o-linear-gradient(top, rgba(0, 0, 0, 0)0%, rgba(0, 0, 0, .9)100%);
                    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0)0%, rgba(0, 0, 0, .9)100%);
                    background: linear-gradient(to bottom, rgba(0, 0, 0, 0)0%, rgba(0, 0, 0, .9)100%);
                    display: block;
                    padding: 10px 15px 15px;
                    box-sizing: border-box;
                    color: #fff;
                    margin-bottom: 0;
                    h3 {
                        padding: 0;
                        font-size: 1em;
                        line-height: 1.3;
                        margin: 0;
                        color: #fff;
                    }
                }
            }
        }
    }

    .helper_active-row {
        position: absolute;
        top: 0;
        border: none;
        font-size: 12px;
        left: 0;
        background: #FFA500;
        color: #fff;
        &:hover {
            background: #B87700;
        }
    }

    .sk_wrap_outer_84661 {
        padding: 0 0 0px!important;
    }

    #rambler_hor1 .rambler_item {
        padding-bottom: 0 !important;
    }

    .player_got {
        background: url('../img/got_dragon_bg.jpg');
        height: 412px;
        position: relative;
        #player_got {
            top: 100px;
            #player {
                transition: all 0.5s ease;
                height: 182px;
                width: 272px;
                position: absolute;
                top: 0;
                right: 0;
                box-shadow: 2px 20px 34px -35px rgba(0, 0, 0, 0.4);
            }
            &:after {
                content: " ";
                background: url('../img/got_dragon.jpg');
                position: absolute;
                background-size: cover;
                top: 0;
                color: #fff;
                bottom: 0;
                left: 0;
                padding: 50px 22px;
                right: 0;
                text-align: center;
                font-size: 24px;
            }
            width: 272px;
            transition: all 0.5s ease;
            height: 182px;
            z-index:200;
            position: relative;
            &.no-pic:after {
                display: none;
            }
            &.hover #player {
                height: 412px;
                top: -100px;
                width: 733px;
                box-shadow: -6px 21px 34px -9px rgba(0, 0, 0, 0.5);
            }
        }
    }

    .page-node-101855,
    .page-node-101864,
    .page-node-102057,
    .page-node-101868,
    .page-node-101888 {
        #container-main {
            background: url('../img/webform_head/head_Tech.jpg') no-repeat top center;
            background-color: #fff;
        }
        .node-webform {
            margin-top: 180px;
            h1 {
                text-align: center;
                text-transform: uppercase;
            }
            .webform-component-textfield input,
            textarea,
            input[type=email] {
                outline: none;
                margin-top: 5px;
                border: 1px solid #b4b8b7;
                padding: 9px;
                box-shadow: 0;
                width: 600px;
                box-sizing: border-box;
            }
            .form-item,
            .form-actions {
                margin-top: 1.5em;
                margin-bottom: 1.5em;
            }
            .webform-client-form {
                width: 600px;
                margin: 0 auto;
            }
            .webform-component-textarea .grippie {
                display: none;
            }
            input[type=submit] {
                background: #fda911;
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fda911), color-stop(100%, #ee8e03));
                background: -webkit-linear-gradient(top, #fda911 0%, #ee8e03 100%);
                background: linear-gradient(to bottom, #fda911 0%, #ee8e03 100%);
                border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border: none;
                color: #fff;
                margin-top: 5px;
                border-bottom: 2px solid #cc7b02;
                text-shadow: 0 -1px 1px #b97608;
                font-size: 25px;
                width: 215px;
                margin: 10px auto;
                display: block;
                padding: 10px 20px;
            }
        }
    }

    .vd-select-container {
        position: relative;
        background-color: #FFFFFF;
        width: 600px;
        margin: 0 auto;
        display: block;
        border-radius: 3px;
    }

    .vd-select {
        border: 1px solid #b4b8b7;
        padding: 9px;
        padding: 12px;
        padding-right: 36px;
        border-radius: 0;
        font-weight: 300;
        font-size: 15px;
        background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/392/select-arrow.png') no-repeat center right 15px transparent;
        width: 100%;
        outline: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        -webkit-transition: border-color 0.2s;
        transition: border-color 0.2s;
        margin: 0;
    }

    .page-node-101868 #container-main {
        background: url('../img/webform_head/head_Reklama.jpg') no-repeat top center;
    }

    .page-node-102057 #container-main {
        background: url('../img/webform_head/head_General.jpg') no-repeat top center;
        #content {
            min-height: 800px;
        }
    }

    .page-node-101864 #container-main {
        background: url('../img/webform_head/head_Prokopenko.jpg') no-repeat top center;
    }

    .page-node-101888 #container-main {
        background: url('../img/webform_head/head_Sotrudnichestvo.jpg') no-repeat top center;
    }

    .view-news .views-field-field-image iframe {
        min-height: 305px;
    }

    .wtf_bc--feed-wrap {
        clear: both;
    }

    .sv-powered-by {
        display: none;
    }

    .page-heading {
        text-align: center;
        color: #333;
    }

    .view-display-id-vod__slideshow_project {
        position: relative;
        .bx-wrapper .bx-pager.bx-default-pager a {
            width: 10px;
            height: 10px;
        }
        .bx-wrapper a.bx-prev {
            left: 65px;
            outline: 0;
            width: 32px;
            height: 32px;
            text-indent: 1px;
            z-index: 40;
            margin-top: -18px;
            position: absolute;
            &:before {
                content: "\f104";
                font-family: 'FontAwesome';
                position: absolute;
                font-size: 40px;
                height: 55px;
                width: 30px;
                color: #FFFFFF;
                text-indent: 1px;
            }
        }
        .bx-wrapper a.bx-next {
            right: 50px;
            outline: 0;
            width: 32px;
            height: 32px;
            text-indent: 1px;
            z-index: 40;
            position: absolute;
            margin-top: -18px;
            &:after {
                content: "\f105";
                font-family: 'FontAwesome';
                position: absolute;
                font-size: 40px;
                height: 55px;
                color: #FFFFFF;
                text-indent: 1px;
                text-decoration: none;
            }
        }
    }

    .page-proekti .view-id-vod {
        .view-content {
            .views-panel {
                display: table;
                vertical-align: top;
                h3 {
                    text-align: left;
                    margin: 3px 0;
                    a {
                        color: #000;
                        font-weight: normal;
                        padding: 6px 0;
                        display: block;
                        font-size: 16px;
                    }
                }
                .views-panel-section {
                    display: table-cell;
                    width: 250px;
                    overflow: hidden;
                    vertical-align: top;
                    &.views-panel-section-2 {
                        padding: 0 30px;
                    }
                }
            }
        }
    }

    .page-proekti #content {
        padding: 30px;
    }

    .page-proekti {
        h2 {
            text-transform: uppercase;
            font-size: 15px;
            color: #fa9202;
            margin-top: 30px;
            margin-left: 50px;
            margin-bottom: 20px;
            &:before {
                content: "";
                background: url(../img/type_sprite.png) no-repeat;
                width: 40px;
                height: 40px;
                position: absolute;
                margin-left: -50px;
                margin-top: -10px;
            }
        }
    }

    .page-proekti .view-id-vod {
        &.view-display-id-block_rubric_teaser_68,
        &.view-display-id-block_rubric_teaser_69,
        &.view-display-id-block_rubric_teaser_70,
        &.view-display-id-block_rubric_teaser_71,
        &.view-display-id-block_rubric_teaser_69,
        &.view-display-id-block_rubric_teaser_73,
        &.view-display-id-block_rubric_teaser_72 {
            .views-panel {
                h3 {
                    text-align: center;
                    margin: 3px 0 15px;
                    a {
                        font-weight: bold;
                        text-align: center;
                        font-size: 20px;
                    }
                }
            }
        }
    }

    #block-block-50 {
        .relap-default-wrapper {
            display: none;
            .relap-default__items-container {
                display: table;
                vertical-align: top;
                width: 880px;
                overflow: hidden;
                position: relative;
                .relap-default__item {
                    display: table-cell;
                    vertical-align: top;
                    width: 33.3%;
                    min-width: 250px;
                    .relap-default__item-inner {
                        box-sizing: border-box;
                    }
                }
            }
        }
    }

    .social div.soc>div {
        margin-right: 22px !important;
    }

    .front {
        .ip_pryamoy {
            background: #dfdfdf;
            padding-bottom: 25px;
        }
    }

    .front {
        .region-prolog .view-id-ads.view-display-id-block_3 {
            background: #dfdfdf;
            padding-bottom: 0;
        }
    }

    .ip_pryamoy {
        position: relative;
        #ip_pryamoy {
            position: absolute;
            top: 0;
            width: 202px;
            height: 108px;
            left: 50%;
            margin-left: -101px;
            margin-top: 192px;
        }
    }

    .view-id-news.view-display-id-page_3 {
        .views-row .views-field-field-mark {
            position: relative;
            background: #d90000;
            color: #fff;
            height: 17px;
            text-align: center;
            font-size: 13px;
            padding: 0 11px !important;
            letter-spacing: 0;
            font-weight: 400;
            float: left;
            margin-right: 12px;
            margin-top: 3px;
        }
    }

    #block-views-vod-block-rubric-teaser-68,
    #block-views-vod-block-rubric-teaser-69,
    #block-views-vod-block-rubric-teaser-70,
    #block-views-vod-block-rubric-teaser-73,
    #block-views-vod-block-rubric-teaser-72,
    #block-views-vod-block-rubric-teaser-71 {
        border-top: 1px solid #dddddd;
        width: 810px;
        margin-top: 25px;
    }

    #block-views-vod-block-rubric-teaser-69 h2:before {
        background-position: 0 -43px;
    }

    #block-views-vod-block-rubric-teaser-73 h2:before {
        background-position: -93px -1px;
    }

    #block-views-vod-block-rubric-teaser-68 h2:before {
        background-position: -45px -46px;
    }

    #block-views-vod-block-rubric-teaser-72 h2:before {
        background-position: -46px -85px;
    }

    .page-proekti h1 {
        display: none;
    }

    .page-taxonomy-term-71,
    .page-taxonomy-term-68,
    .page-taxonomy-term-70,
    .page-taxonomy-term-73,
    .page-taxonomy-term-72,
    .page-taxonomy-term-69 {
        #prolog {
            padding: 0;
        }
        h1 {
            text-transform: uppercase;
            font-size: 15px;
            color: #fa9202;
            margin-top: 30px;
            margin-left: 50px;
            margin-bottom: 20px;
            &:before {
                content: "";
                background: url(../img/type_sprite.png) no-repeat;
                width: 40px;
                height: 40px;
                position: absolute;
                margin-left: -50px;
                margin-top: -6px;
            }
        }
    }

    .page-taxonomy-term-69 h1:before {
        background-position: 0 -43px;
    }

    .page-taxonomy-term-73 h1:before {
        background-position: -93px -1px;
    }

    .page-taxonomy-term-68 h1:before {
        background-position: -45px -46px;
    }

    .page-taxonomy-term-72 h1:before {
        background-position: -46px -85px;
    }

    .view-display-id-page_rubric {
        .view-content {
            display: block;
            width: 840px;
            margin: 0 -15px;
            .views-row {
                display: inline-block;
                width: 250px;
                vertical-align: top;
                margin: 0 13px 25px;
                margin-bottom: 25px;
                h3 {
                    text-align: center;
                    margin: 0;
                    a {
                        color: #000;
                        font-size: 18px;
                    }
                }
            }
        }
    }

    .view-id-links_to_relation.view-display-id-block .item-list .pager {
        margin-top: 2px !important;
    }

    .social div.soc>div.comments {
        margin-right: 0 !important;
    }

    .date-picker-wrapper {
        z-index: 2000;
    }

    .node-type-project {
        .epizod {
            background: #e9e9e9;
            padding: 30px;
            margin-bottom: 30px;
            &__title {
                font-size: 22px;
                h2 {
                    margin: 0;
                    display: inline-block;
                    vertical-align: top;
                    font-size: 22px;
                    margin-right: 25px;
                }
                .field-name-field-datetime {
                    display: inline-block;
                    vertical-align: top;
                    font-size: 22px;
                    margin-left: 0px;
                }
                .field-name-field-ref-season {
                    display: inline-block;
                    vertical-align: top;
                    font-size: 22px;
                    margin-left: 0;
                }
            }
        }
        .view-display-id-newfilter_epizod .bx-wrapper a.bx-prev {
            margin-left: -40px;
        }
        .view-display-id-newfilter_epizod .bx-wrapper a.bx-nextv {
            margin-right: -40px;
        }
        .view-display-id-newfilter_epizod {
            margin: 0;
        }
        .view-display-id-newfilter_epizod {
            background: #363636;
            margin: 0;
            position: relative;
            padding: 0 26px 0 26px;
            width: 810px!important;
            box-sizing: border-box;
            .bx-wrapper .bx-viewport {
                left: 0;
            }
        }
        .view-display-id-vod_block_episode_last {
            width: 810px;
        }
        .video_episode {
            background: #000;
            margin: 0;
            color: #aaa;
            min-height: 350px;
            padding: 0;
        }
        #c4vplayer_episode {
            width: 100% !important;
            height: 460px !important;
        }
        .p_wrap {
            width: 810px;
            display: inline-block;
            vertical-align: top;
        }
        .p_sidebar {
            width: 300px;
            margin-left: 30px;
            display: inline-block;
            vertical-align: top;
            padding-top: 30px;
            .block {
                margin-bottom: 30px;
                img {
                    margin: 0 auto;
                }
            }
        }
    }

    .node-type-episode {
        .p_banner {
            position: absolute;
            top: 0;
            margin: 0 -26px;
        }
        .p_wrap {
            width: 810px;
            display: inline-block;
            vertical-align: top;
        }
        .p_sidebar {
            width: 300px;
            margin-left: 30px;
            display: inline-block;
            vertical-align: top;
            padding-top: 25px;
            .block {
                margin-bottom: 30px;
                img {
                    margin: 0 auto;
                }
            }
        }
    }
    .page-proekti #sidebar {
        .block {
                margin-bottom: 30px;
                img {
                    margin: 0 auto;
                }
            }
    }
    .node-type-episode {
            #prolog {
                padding: 0;
                .view-display-id-vod__banner_project {
                    display: block;
                }
            }
        }

    .view-display-id-vod__banner_project {
        display: none;
    }
    .node-type-episode {
        #prolog {
            padding: 0;
        }
    }
.header_teaser {
    z-index: 100;
    margin-top: 0px;
    top: 0;
    height: 24px;
    font-size: 16px;
    color: #000;
    font-weight: bold;
    font-family: "Pt Sans", Arial,sans-serif;
}
#MarketGid9613 {
    margin: 0 -8px;
}
#block-block-73 {
        margin-bottom: 15px!important;
}

#block-block-74:before {
    content: " ";
    background: url('../img/marketgid.png') no-repeat 0px -5px;
    width: 171px;
    height: 25px;
    display: block;
    margin-bottom: 0;
        margin-top: 0;
    background-size: 110px;
    position: absolute;
    top: 0;
}
#block-block-74 {
            padding-top: 35px;
            position: relative;
}
#block-system-main-menu .menu li.last {
    width: 154px;
    height: 40px;
    background: url(../img/test.png?10) no-repeat 6px 6px !important;
     width: 180px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
#block-system-main-menu .menu li.last a:hover {
    background: transparent !important;
}
#promo {
    .block {
        padding: 0px 0 0;
    }
}

body .video_episode #c4vplayer_episode.jw-flag-fullscreen  {
    height: auto!important;
}
.media_embed iframe {
    width: 100%;
}

body.node-type-project .view-display-id-newfilter_epizod .bx-wrapper a.bx-prev:before {
        left: 7px;
}
.node-type-project .epizod__title {
        margin-bottom: 10px;
}

.page-node-1480.node-type-project .view-id-vod {
    display: none;
}
