body.region .header .header__logo {
    height: 72px;
    background-position: center;
    width: 130px;
    -webkit-background-size: 62px 72px;
    background-size: 62px 72px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.dropdown__region {
    display: inline;
    padding: 0;
    margin: 0 auto;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 16px;
    color: #fff;
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    -ms-transition: all .15s linear;
    -o-transition: all .15s linear;
    transition: all .15s linear;
    position: absolute;
    top: 81px;
    left: 0;
    width: 170px;
    text-align: center;
    font-weight: 700;
    z-index: 500
}

#container-main {
    overflow: hidden
}

.dropdown__region span {
    border-bottom: 1px dashed #fff
}

.dropdown__region.open,
.dropdown__region:hover {
    color: #fff
}

#block-menu-menu-region-sidebar ul.menu {
    padding: 0
}

.dropdown__region ul {
    position: absolute;
    top: 100%;
    left: 0;
    width: 366px;
    padding: 10px;
    display: none;
    border-top: 4px solid #f68937;
    background: #fff;
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, .3);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, .3);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .3);
    list-style: none
}

.dropdown__region ul li {
    font-size: .9em;
    width: 183px;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    float: left
}

.dropdown__region ul li a {
    text-decoration: none;
    display: block;
    color: #000;
    padding: 7px 15px
}

.dropdown__region ul li a:hover {
    color: #000;
    background: #dfdfdf
}

.view-display-id-block_stream_region.stream .views-field-created {
    width: inherit;
    display: inline-block;
    padding: 0 5px;
    clear: both;
    float: none
}

.news__peredovica .view-display-id-block_stream_region.stream .views-row.views-row-first {
    border-bottom: 1px solid #d9cfb5;
    border-top: none
}

.news__peredovica .view-display-id-block_stream_region.stream .views-field-title {
    min-height: 20px
}

#block-menu-menu-menu-news-category-menu-reg .menu a {
    margin: 0 6px 0 0;
    padding: 2px 8px;
    border: 1px solid #dfdfdf;
    background: #e9e9e9;
    color: #767676;
    text-decoration: none;
    text-transform: uppercase
}

#block-menu-menu-menu-news-category-menu-reg .menu li {
    float: left
}

#block-menu-menu-menu-news-category-menu-reg .menu a:hover {
    background: #c9c9c9;
    -webkit-box-shadow: inset 0 5px 8px -4px rgba(0, 0, 0, .31);
    -moz-box-shadow: inset 0 5px 8px -4px rgba(0, 0, 0, .31);
    box-shadow: inset 0 5px 8px -4px rgba(0, 0, 0, .31);
    color: #414141;
    text-shadow: 0 .5px 0 rgba(255, 255, 255, .57);
    -webkit-text-shadow: 0 .5px 0 rgba(255, 255, 255, .57);
    -moz-text-shadow: 0 .5px 0 rgba(255, 255, 255, .57);
    border: 1px solid transparent
}

#block-menu-menu-menu-news-category-menu-reg .menu li.first a {
    border: 1px solid #f99f3d;
    background: #f78a36;
    color: #fff
}

.view-display-id-all_region_news .item-list .pager li a,
.view-display-id-all_region_news .pager>li>a {
    position: relative;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd
}

.view-display-id-all_region_news .pager>li>a {
    margin-left: -1px;
    color: #428bca
}

.view-display-id-all_region_news .pager>li {
    padding: 0;
    margin: 0 0 0 -6px
}

.view-display-id-all_region_news .item-list .pager li a {
    color: #444;
    margin: 0
}

.view-display-id-all_region_news .pager {
    text-align: left;
    margin-left: 5px;
    margin-top: 23px
}

.view-display-id-all_region_news .pager>li.pager-current {
    position: relative;
    padding: 6px 12px;
    margin-left: -6px;
    line-height: 1.42857143;
    color: #444;
    font-weight: 400;
    text-decoration: none;
    background-color: #fff6d3;
    border: 1px solid #ddd;
    -webkit-box-shadow: inset 0 6px 11px -8px rgba(0, 0, 0, .5);
    -moz-box-shadow: inset 0 6px 11px -8px rgba(0, 0, 0, .5);
    box-shadow: inset 0 6px 11px -8px rgba(0, 0, 0, .5)
}

.view-display-id-all_region_news li.first {
    border-radius: 5px 0 0 5px
}

.view-display-id-all_region_news li.last,
.view-display-id-all_region_news li.pager-next a {
    border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0
}

.view-display-id-all_region_news li.pager-previous a {
    border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px
}

.view-display-id-all_region_news .ajax-progress,
.view-display-id-all_region_news li.pager-first.first {
    display: none
}

.view-id-news.view-display-id-all_region_news .views-field-title {
    font-weight: 700;
    font-size: 21px;
    line-height: 1.25em
}

.view-id-news.view-display-id-all_region_news .views-field-created {
    padding: 0
}

.view-news.view-display-id-all_region_news .views-field {
    padding: 3px 0
}

.view-news.list.view-news.view-display-id-all_region_news .views-field-body {
    line-height: 1.2
}

.view-display-id-all_region_news .views-row {
    padding: 16px 0 18px;
    border-top: 1px solid #d9d9d9
}

.view-display-id-all_region_news .views-field.views-field-totalcount {
    float: left;
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #727272
}

.view-display-id-all_region_news .views-field.views-field-totalcount:before {
    content: "\f06e";
    font-family: 'FontAwesome';
    margin-right: 4px
}

.view-display-id-all_region_news .views-field.views-field-created {
    width: 170px;
    float: left;
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: #444
}

.view-display-id-all_region_news .views-field.views-field-title {
    line-height: 30px;
    clear: both
}

#block-menu-menu-region-sidebar {
    background: #e8e8e8
}

#block-menu-menu-region-sidebar h2 {
    margin: 0;
    padding: 10px 20px;
    color: #555;
    text-align: left;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase
}

#block-menu-menu-region-sidebar ul.menu li a {
    text-transform: uppercase;
    background: #fba512;
    background: -moz-linear-gradient(top, #fba512 0%, #fba112 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fba512), color-stop(100%, #fba112));
    background: -webkit-linear-gradient(top, #fba512 0%, #fba112 100%);
    background: -o-linear-gradient(top, #fba512 0%, #fba112 100%);
    background: -ms-linear-gradient(top, #fba512 0%, #fba112 100%);
    background: linear-gradient(to bottom, #fba512 0%, #fba112 100%);
    padding: 10px 20px;
    display: block;
    color: #fff;
    font-weight: 700;
    font-size: 19px;
    border-bottom: 1px solid #fdb65e
}

#block-menu-menu-region-sidebar ul.menu li.last a {
    border-bottom: none
}

#block-menu-menu-region-sidebar ul.menu li a:hover {
    background: #e88709;
    background: -moz-linear-gradient(top, #e88709 0%, #dc7503 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e88709), color-stop(100%, #dc7503));
    background: -webkit-linear-gradient(top, #e88709 0%, #dc7503 100%);
    background: -o-linear-gradient(top, #e88709 0%, #dc7503 100%);
    background: -ms-linear-gradient(top, #e88709 0%, #dc7503 100%);
    background: linear-gradient(to bottom, #e88709 0%, #dc7503 100%);
}

.view-display-id-page_3 .views-field.views-field-title {
    line-height: 1.2em
}

.region_4_peredovica {
    border: 1px solid #d0d4d5;
    padding: 0 0 0 18px;
    margin: 0 0 25px;
    display: block;
    clear: both
}

.front .news_main_content .region_4_peredovica .view-id-news {
    width: 190px
}

.news_main_content .region_4_peredovica .view-id-news .views-field-title h3 {
    font-size: 17px;
    font-weight: 700;
    line-height: 23px
}

.view-news.list .region_4_peredovica h2 a {
    background: #f47732;
    background: -moz-linear-gradient(top, #f47732 0%, #faa73f 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f47732), color-stop(100%, #faa73f));
    background: -webkit-linear-gradient(top, #f47732 0%, #faa73f 100%);
    background: -o-linear-gradient(top, #f47732 0%, #faa73f 100%);
    background: -ms-linear-gradient(top, #f47732 0%, #faa73f 100%);
    background: linear-gradient(to bottom, #f47732 0%, #faa73f 100%);
    padding: 5px 25px;
    margin: 0 -27px;
    display: inline-block;
    font-size: 22px;
    position: relative;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400
}

.view-news.list .region_4_peredovica h2 a:after {
    content: '';
    position: absolute;
    right: unset;
    left: 0;
    top: 38px;
    border: 4px solid transparent;
    border-top: 4px solid #c8520b;
    border-right: 4px solid #c8520b
}

.dropdown__region span.req_dowpdown_tringl {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 5px 0;
    border-color: #fff transparent transparent transparent;
    position: absolute;
    display: inline;
    margin-left: 7px;
    margin-top: 7px
}

.dropdown__region.open span.req_dowpdown_tringl {
    border-width: 0 5px 8px;
    border-color: transparent transparent #fff transparent
}

.view-id-tvi.view-display-id-all_region_news .views-field.views-field-created {
    padding: 0 0 10px;
    margin: 0 0 1px
}

.view-id-tvi.view-display-id-all_region_news .views-field.views-field-title {
    line-height: 24px;
    clear: both
}

.view-id-tvi.view-display-id-all_region_news .views-row {
    padding: 20px 0 5px;
    border-top: 1px solid #d9d9d9;
    width: 200px;
    display: inline-block;
    vertical-align: top;
    margin: 0 6px
}

.view-id-tvi.view-display-id-all_region_news,
.view-id-tvi.view-display-id-all_region_news_blog {
    margin: 0 -6px
}

.view-id-tvi.view-display-id-all_region_news .views-row.views-row-1,
.view-id-tvi.view-display-id-all_region_news .views-row.views-row-2,
.view-id-tvi.view-display-id-all_region_news .views-row.views-row-3,
.view-id-tvi.view-display-id-all_region_news .views-row.views-row-4 {
    border-top: none;
    padding-top: 5px
}

.view-news.list .region_4_peredovica h2 {
    margin: 10px 0 17px
}

.orphius_text,
.region_author {
    color: #999;
    display: block;
    clear: both;
    font-size: 14px;
    margin-bottom: 15px
}

.region_author {
    margin-bottom: 5px
}

.front .news_main_content .region_4_peredovica .view-id-news {
    margin-bottom: 15px!important
}

#block-menu-menu-menu-news-category-menu-reg .menu a.active-trail {
    background: #f78a36;
    color: #fff
}

.news_main_content .region_4_peredovica .view-id-news {
    width: 190px;
    margin-right: 17px
}

.view-id-tvi.view-display-id-all_region_news_blog .views-field.views-field-created {
    padding: 0 0 10px;
    margin: 0 0 1px
}

.view-id-tvi.view-display-id-all_region_news_blog .views-field.views-field-title {
    line-height: 24px;
    clear: both
}

.view-id-tvi.view-display-id-all_region_news_blog .views-row {
    padding: 20px 0 5px;
    border-top: 1px solid #d9d9d9;
    width: 200px;
    display: inline-block;
    vertical-align: top;
    margin: 0 6px
}

.view-display-id-all_region_news_blog .views-row.views-row-2,
.view-id-tvi.view-display-id-all_region_news_blog .views-row.views-row-1,
.view-id-tvi.view-display-id-all_region_news_blog .views-row.views-row-3,
.view-id-tvi.view-display-id-all_region_news_blog .views-row.views-row-4 {
    border-top: none;
    padding-top: 5px
}

.news_main_content .region_4_peredovica .view-id-news.view-display-id-block_12 {
    margin-right: 0
}

.news_main_content .region_4_peredovica {
    margin-top: 25px
}

.news_main_content .region_4_peredovica .view-id-news {
    border: none;
    margin-bottom: 15px
}

.mm-body__line--horizontal {
    display: inline-block;
    padding: 0 38px 0 0!important;
    float: none!important
}

.orphius {
    position: fixed;
    display: block;
    background-color: #fff;
    padding: 0;
    top: 70px;
    z-index: 400;
    width: 305px;
    border-bottom: 5px solid #f47732;
    right: 35px;
    animation: shake 150ms 2 linear;
    -moz-animation: shake 150ms 2 linear;
    -webkit-animation: shake 150ms 2 linear;
    -o-animation: shake 150ms 2 linear;
    box-shadow: 0 0 100px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 0 100px rgba(0, 0, 0, .4);
    -webkit-box-shadow: 0 0 100px rgba(0, 0, 0, .4)
}

.orphius.orphius__error {
    border-bottom: 5px solid red
}

.orphius p {
    padding: 10px 20px 10px 70px
}

.orphius .fa-exclamation-circle,
.orphius .fa-info-circle {
    position: absolute;
    left: 15px;
    font-size: 50px;
    color: #f47732
}

.orphius .fa-exclamation-circle {
    color: red
}

@keyframes shake {
    0% {
        transform: translate(10px, 0)
    }
    50% {
        transform: translate(-10px, 0)
    }
    to {
        transform: translate(0, 0)
    }
}

@-moz-keyframes shake {
    0% {
        -moz-transform: translate(10px, 0)
    }
    50% {
        -moz-transform: translate(-10px, 0)
    }
    to {
        -moz-transform: translate(0, 0)
    }
}

@-webkit-keyframes shake {
    0% {
        -webkit-transform: translate(10px, 0)
    }
    50% {
        -webkit-transform: translate(-10px, 0)
    }
    to {
        -webkit-transform: translate(0, 0)
    }
}

@-ms-keyframes shake {
    0% {
        -ms-transform: translate(10px, 0)
    }
    50% {
        -ms-transform: translate(-10px, 0)
    }
    to {
        -ms-transform: translate(0, 0)
    }
}

@-o-keyframes shake {
    0% {
        -o-transform: translate(10px, 0)
    }
    50% {
        -o-transform: translate(-10px, 0)
    }
    to {
        -o-transform: translate(0, 0)
    }
}

ul.soc li.nth-child6 {
    left: 630px;
    width: 100px
}

.view-schedule-region .views-row {
    display: block;
    position: relative;
    border-bottom: 1px solid #c8c8c8;
    padding: 5px
}

.view-schedule-region .views-field-field-datetime-1 {
    width: 70px;
    display: inline-block;
    vertical-align: top;
    padding: 2px;
    font-weight: 700;
    font-size: 20px
}

.view-schedule-region .views-field-title {
    width: auto;
    display: inline-block;
    vertical-align: top;
    font-size: 20px;
    padding: 2px
}

.view-schedule-region .views-field-title a {
    color: #000
}

.view-schedule-region .views-row.shedule-region-item-showing_status--future:hover {
    background-color: #f47e34;
    color: #fff;
    cursor: pointer
}

.view-schedule-region .views-row {
    cursor: pointer
}

.view-schedule-region .views-row.shedule-region-item-showing_status--future:hover .date-display-single,
.view-schedule-region .views-row.shedule-region-item-showing_status--future:hover .views-field-title a {
    color: #fff
}

.view-id-persons.view-display-id-block_3 .views-field-field-image img {
    border-radius: 105px
}

#block-views-persons-block-1 .views-field-field-image {
    width: 200px;
    height: auto
}

.view-id-schedule_region .shedule-region-day,
.view-schedule-region .shedule_now .views-row.shedule-region-item-showing_status--present {
    display: none
}

.view-id-schedule_region .shedule-region-day.shedule-region-day-active {
    display: block;
    transition: all ease-in-out .6s
}

.shedule-region-groupday {
    float: left
}

.shedule-region-groupday a {
    padding: 5px 10px;
    background-color: #e8e8e8;
    display: block;
    font-size: 16px;
    color: #686868;
    border-right: 1px solid #bcbcbc;
    text-transform: uppercase;
    border-left: 2px solid #f4f4f4
}

.shedule-region-groupday.is-active a {
    background: #f47a33;
    background: -moz-linear-gradient(top, #f47a33 0%, #f9a23e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f47a33), color-stop(100%, #f9a23e));
    background: -webkit-linear-gradient(top, #f47a33 0%, #f9a23e 100%);
    background: -o-linear-gradient(top, #f47a33 0%, #f9a23e 100%);
    background: -ms-linear-gradient(top, #f47a33 0%, #f9a23e 100%);
    background: linear-gradient(to bottom, #f47a33 0%, #f9a23e 100%);
    color: #fff
}

.view-id-schedule_region.view-display-id-page {
    clear: both;
    position: relative
}

.view-schedule-region .views-row .date-display-single {
    color: #4d4d4d;
    font-weight: 700;
    font-size: 22px
}

.view-schedule-region .shedule-region-item-showing_status--present,
.view-schedule-region .views-row.shedule-region-item-showing_status--present {
    background: #e8e8e8
}

.view-schedule-region .shedule_now .views-row.shedule-region-item-showing_status--present:last-child {
    display: block
}

.show_shedule-region-day {
    color: #a6a6a6;
    border-bottom: 1px dashed #a6a6a6;
    display: inline-block;
    margin: 0 0 10px
}

.shedule-region-group {
    background: #e8e8e8;
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
    clear: both;
    border-bottom: 1px solid #bcbcbc
}

.shedule-region-group span {
    font-weight: 700;
    font-size: 20px;
    display: block
}

.shedule-region-group .next,
.shedule-region-group .prev {
    padding: 5px 14px;
    background-color: #e8e8e8;
    display: block;
    color: #686868;
    text-transform: uppercase;
    border-right: 1px solid #bcbcbc;
    border-left: 1px solid #bcbcbc;
    float: left;
    font-size: 34px;
    overflow: hidden;
    height: 46px;
    font-weight: 700
}

.shedule-region-group .next {
    position: absolute;
    right: 0;
    border-left: none
}

.page-node-41914 .details .field-name-field-desc {
    float: right;
    width: 654px;
    margin-right: 82px;
    margin-top: 3px;
    font-size: 19px;
    min-height: 158px;
    margin-left: 80px
}

.page-node-41914 .field-collection-item-field-details .image_news img {
    border-radius: 154px;
    width: 200px;
    height: auto;
    margin-top: -90px
}

.page-node-41914 section>.entity-field-collection-item>.content {
    margin: 0
}

.page-node-41914 section.contents {
    background: url(../img/shadow_content_project.png) no-repeat top center #d0d0d0
}

.page-node-41914 section#details-0 {
    padding: 26px 65px;
    background: #eee
}

body.region #block-views-projects-block-project-list .project.projectnumber_3,
body.region #block-views-projects-block-project-list .project.projectnumber_4,
body.region #block-views-projects-block-project-list .project.projectnumber_5 {
    border-top: none
}

.view-schedule-region .shedule_now .views-row.shedule-region-item-showing_status--present.schedule__post_element {
    display: block!important
}

.view-schedule-region .shedule_now .views-row.shedule-region-item-showing_status--present.schedule__now_element {
    display: block!important;
    background-color: #f47e34;
    color: #fff;
    cursor: pointer
}

.view-schedule-region .shedule_now .views-row.shedule-region-item-showing_status--present.schedule__now_element .date-display-single,
.view-schedule-region .shedule_now .views-row.shedule-region-item-showing_status--present.schedule__now_element a,
.view-schedule-region .views-row.shedule-region-item-showing_status--future:hover .views-field-nothing .schedule_action_button a {
    color: #fff
}

.view-schedule-region .shedule_now .views-field-nothing {
    display: block
}

.view-schedule-region .views-field-nothing .schedule_action_button a {
    color: #000;
    padding: 0 20px 0 0;
    font-style: normal
}

.view-schedule-region .views-field-nothing .schedule_action_button a:hover {
    text-decoration: underline
}

#container-page {
    background: #fff
}

#smi2adblock_80767 {
    width: 818px!important
}

#smi2adblock_80767_content {
    width: 815px!important
}

.magnit {
    margin-bottom: 15px;
    display: block;
    position: relative
}

.news_main_content .view-id-blog.view-display-id-block_1 .views-field-title h3,
.news_main_content .view-id-blog.view-display-id-block_2 .views-field-title h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-decoration: none;
    margin: 0;
    padding: 4px 0
}

.view-id-blog.view-display-id-block_1,
.view-id-blog.view-display-id-block_2 {
    width: 200px;
    display: inline-block;
    margin-bottom: 20px;
    vertical-align: top
}

.view-id-blog.view-display-id-block_1 {
    margin-right: 17px
}

.view-id-blog.view-display-id-block_1 .views-field-field-image,
.view-id-blog.view-display-id-block_2 .views-field-field-image {
    position: relative;
    top: 0;
    padding: 0;
    right: 0
}

body.region .view-id-blog.view-display-id-block_8 {
    margin-right: 0
}

body.region .view-id-blog.view-display-id-block_1 {
    margin-right: 11px
}

body.region .news_main_content .region_4_peredovica .view-id-news {
    margin-right: 16px
}

.view-id-blog.view-display-id-block_1 .views-field-field-image img,
.view-id-blog.view-display-id-block_2 .views-field-field-image img {
    width: inherit;
    height: inherit
}

.view-id-blog.view-display-id-block_1 .views-row,
.view-id-blog.view-display-id-block_2 .views-row {
    padding: 0
}

.view-id-blog.view-display-id-block_1 .views-field-title a:hover,
.view-id-blog.view-display-id-block_2 .views-field-title a:hover {
    text-decoration: none
}

.view-id-blog.view-display-id-block_1 .views-field-field-image .i-video2 a:after,
.view-id-blog.view-display-id-block_2 .views-field-field-image .i-video2 a:after {
    content: " ";
    position: absolute;
    background: url(../img/video_icon.svg?4) no-repeat;
    width: 35px;
    height: 35px;
    display: block;
    margin-left: 2px;
    vertical-align: middle;
    margin-top: -1px;
    opacity: .85;
    bottom: 2px;
    right: 10px
}

body.front .news_main_content .view-id-blog.view-display-id-block_1 .views-field-field-mark,
body.front .news_main_content .view-id-blog.view-display-id-block_2 .views-field-field-mark {
    display: block;
    padding: 2px 11px 1px
}

.news_main_content .view-id-blog.view-display-id-block_1 .settings-1 .views-field-title h3,
.news_main_content .view-id-blog.view-display-id-block_2 .settings-1 .views-field-title h3 {
    padding: 5px 10px;
    background: #fef7c4;
    color: #000
}

.view-news.list .view-id-blog.view-display-id-block_1 .views-field-title,
.view-news.list .view-id-blog.view-display-id-block_2 .views-field-title {
    padding: 0;
    width: 100%
}

#social_sticky-sticky-wrapper {
    top: 40px
}

#YTV_FRAME {
    width: 783px;
    overflow: hidden;
    position: relative;
    height: 300px;
    background: #000;
    margin: 20px 0;
    border: none
}

#YTV_FRAME .ytv-list .ytv-active a {
    border-left-color: #f99e3d;
    text-decoration: none
}

#YTV_FRAME .ytv-list a {
    text-decoration: none;
    line-height: 1.3
}

#YTV_FRAME .ytv-list-header {
    background: #f47732;
    background: -moz-linear-gradient(top, #f47732 0%, #faa73f 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f47732), color-stop(100%, #faa73f));
    background: -webkit-linear-gradient(top, #f47732 0%, #faa73f 100%);
    background: -o-linear-gradient(top, #f47732 0%, #faa73f 100%);
    background: -ms-linear-gradient(top, #f47732 0%, #faa73f 100%);
    background: linear-gradient(to bottom, #f47732 0%, #faa73f 100%)
}

#YTV_FRAME,
#YTV_FRAME ul {
    padding: 0
}

.social_new__meta div.soc li {
    float: none;
    margin-left: 20px;
    margin-right: 10px
}

.social_new__meta {
    width: 100%
}

.social_new__meta a.followUs_bookmark,
.social_new__meta i.fa.fa-bookmark {
    color: #fff
}

.social_top {
    margin-top: 0
}

.button.grey.comments {
    float: right;
    height: 16px;
    display: block;
    overflow: hidden;
    font-size: 13px;
    margin: 0
}

.view-id-ads.view-display-id-block_3 .bx-wrapper .bx-viewport {
    left: 0
}

.summary p,
.view-id-ads.view-display-id-block_3 .bx-wrapper {
    margin: 0
}

.view-id-ads.view-display-id-block_3 .bx-wrapper .bx-pager {
    padding-top: 0
}

.view-id-ads.view-display-id-block_3 .bx-controls {
    position: absolute;
    bottom: 0;
    width: 100%
}

.view-id-ads.view-display-id-block_3 .bx-wrapper .bx-pager.bx-default-pager a {
    background: #fff;
    width: 10px;
    height: 10px;
    -webkit-box-shadow: none;
    box-shadow: none
}

.view-id-ads.view-display-id-block_3 .bx-wrapper .bx-pager.bx-default-pager a.active {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #f99201
}

#block-views-ui-grid-front-teaser-grid .views-field-created {
    display: none
}

.view-id-ads.view-display-id-block_3 {
    overflow: hidden;
    height: 382px
}

.social_new__meta .social-likes {
    min-width: 285px
}

#block-block-39 h3 {
    margin: -5px 0 0;
    background-color: #000;
    color: #fff;
    vertical-align: top;
    padding: 15px 5px;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.5
}

.ytp-fresca-suggested-promo-sidebar {
    display: none!important
}

#block-block-39 {
    position: relative
}

.overlay-video-bg,
.overlay-video-bgmain {
    position: absolute;
    background-color: #000;
    opacity: .001
}

.overlay-video-bg {
    cursor: pointer;
    width: 272px;
    height: 272px
}

.overlay-video-bgmain {
    width: 900px;
    height: 500px
}

img.goplay {
    background-color: #000;
    display: block;
    width: 272px;
    height: auto;
    position: relative
}

.playgoplay:after {
    content: " ";
    position: absolute;
    background: url(../img/video_icon.svg?4) no-repeat;
    width: 35px;
    height: 35px;
    display: block;
    margin-left: 2px;
    vertical-align: middle;
    margin-top: -1px;
    opacity: .85;
    top: 5px;
    right: 10px
}

.news__peredovica .overlay-video-bg {
    width: 540px;
    height: 340px
}

.view-id-blog.view-display-id-block_2 {
    margin-right: 16px
}

.b-share_theme_counter .b-share__link {
    border-radius: 0!important;
    -webkit-border-radius: 0!important
}

.b-share_theme_counter .b-share-icon {
    padding-right: 2px!important
}

#ya_share,
#ya_share2 {
    padding-top: 5px
}

.b-share_theme_counter .b-share-btn__wrap {
    position: relative;
    float: left;
    margin-left: 15px
}

.b-share_theme_counter .b-share__handle {
    height: 23px!important
}

.gosubscribe {
    display: none
}

.logged-in .gosubscribe {
    display: block;
    background: #fff;
    position: fixed;
    width: 100%;
    height: 70px;
    text-align: center;
    bottom: 0;
    z-index: 400;
    border-top: 3px solid #f47d33;
    padding: 20px;
    animation: shake 150ms 2 linear;
    -moz-animation: shake 150ms 2 linear;
    -webkit-animation: shake 150ms 2 linear;
    -o-animation: shake 150ms 2 linear;
    box-shadow: 0 0 100px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 0 100px rgba(0, 0, 0, .4);
    -webkit-box-shadow: 0 0 100px rgba(0, 0, 0, .4)
}

.rpc__clicker {
    position: absolute;
    background-color: #2a2626;
    z-index: 99999999;
    text-align: center;
    opacity: 0;
    transform: translate3d(0, 0, 0);
    min-width: 135px;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -o-box-shadow: 0 0 2px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .24);
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .24);
    -khtml-box-shadow: 0 0 2px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .24);
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .24);
    box-shadow: 0 0 2px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .24);
    transition: opacity 400ms cubic-bezier(.23, 1, .32, 1)0ms, transform 200ms cubic-bezier(.23, 1, .32, 1)0ms, top 100ms cubic-bezier(.23, 1, .32, 1)0ms, left 100ms cubic-bezier(.23, 1, .32, 1)0ms
}

.rpc {
    float: none;
    text-align: left;
    font-family: Helvetica, Arial, sans-serif;
    position: relative;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
    margin: 0;
    padding: 0;
    border: none 0;
    border-radius: 0;
    font-size: 12px;
    vertical-align: baseline;
    background: 0 0;
    color: #000;
    line-height: 1.167em;
    outline: 0;
    text-transform: none;
    text-decoration: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    text-shadow: none;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    min-height: 0;
    -webkit-overflow-scrolling: touch
}

.ctx_ren {
    position: absolute;
    background-color: #fff;
    border-bottom: 2px solid orange;
    z-index: 200;
    text-align: center;
    opacity: 1;
    transform: translate3d(-50%, 32px, 0);
    min-width: 135px;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -o-box-shadow: 0 -1px 10px rgba(0, 0, 0, .1), 0 3px 10px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 -1px 10px rgba(0, 0, 0, .1), 0 3px 10px rgba(0, 0, 0, .2);
    -khtml-box-shadow: 0 -1px 10px rgba(0, 0, 0, .1), 0 3px 10px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 -1px 10px rgba(0, 0, 0, .1), 0 3px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 -1px 10px rgba(0, 0, 0, .1), 0 3px 10px rgba(0, 0, 0, .2);
    transition: opacity 400ms cubic-bezier(.23, 1, .32, 1)0ms, transform 200ms cubic-bezier(.23, 1, .32, 1)0ms, top 100ms cubic-bezier(.23, 1, .32, 1)0ms, left 100ms cubic-bezier(.23, 1, .32, 1)0ms
}

.ctx_ren li {
    list-style: none;
    display: inline-block
}

@-moz-keyframes bounce {
    to {
        -moz-transform: translate3d(-50%, 32px, 0);
        transform: translate3d(-50%, 32px, 0)
    }
    0% {
        -moz-transform: translate3d(-50%, 5px, 0);
        transform: translate3d(-50%, 5px, 0)
    }
}

@-webkit-keyframes bounce {
    to {
        -webkit-transform: translate3d(-50%, 32px, 0);
        transform: translate3d(-50%, 32px, 0)
    }
    0% {
        -webkit-transform: translate3d(-50%, 5px, 0);
        transform: translate3d(-50%, 5px, 0)
    }
}

@keyframes bounce {
    to {
        -moz-transform: translate3d(-50%, 32px, 0);
        -ms-transform: translate3d(-50%, 32px, 0);
        -webkit-transform: translate3d(-50%, 32px, 0);
        transform: translate3d(-50%, 32px, 0)
    }
    0% {
        -moz-transform: translate3d(-50%, 5px, 0);
        -ms-transform: translate3d(-50%, 5px, 0);
        -webkit-transform: translate3d(-50%, 5px, 0);
        transform: translate3d(-50%, 5px, 0)
    }
}

.bounce {
    -webkit-animation-delay: 500ms;
    -moz-animation-delay: 500ms;
    -o-animation-delay: 500ms;
    animation-delay: 500ms;
    -moz-animation: bounce 500ms;
    -webkit-animation: bounce 300s;
    animation: bounce 300ms
}

.ctx__ren_menu li a {
    display: inline-block;
    padding: 5px 10px;
    min-width: 20px
}

.ctx__ren_menu li a:hover {
    background-color: #e9e9e9
}

.ctx_ren:after {
    content: '';
    position: absolute;
    right: 112px;
    top: -20px;
    border: 10px solid transparent;
    border-bottom: 10px solid #fff
}

.ctx_ren .social-likes__widget {
    background-color: #fff!important
}

.ctx_ren .social-likes__icon:before {
    color: #f47732!important
}

.ctx_ren .social-likes__widget {
    display: inline-block;
    padding: 8px 10px 10px;
    min-width: 20px;
    margin: 0;
    vertical-align: top!important
}

.ctx_ren .social-likes__button {
    padding: 0
}

.ctx_ren .social-likes__icon {
    font-size: 16px;
    left: .15em!important
}

.ctx_ren .opechatka {
    display: inline-block;
    padding: 9px 10px 8px 11px;
    color: #f47732!important;
    vertical-align: bottom;
    font-size: 15px;
    cursor: pointer
}

.ctx_ren .social-likes__icon_vkontakte {
    left: .1em
}

.ctx_ren .social-likes__icon_odnoklassniki {
    left: .3em!important
}

.ctx_ren .opechatka:hover,
.ctx_ren .social-likes__widget:hover .social-likes__icon:before {
    color: #ed3130!important
}

.ctx_ren .opechatka:hover,
.ctx_ren .social-likes__widget:hover {
    border-bottom: 2px solid red;
    margin-bottom: -2px
}

.ctx_ren .social-likes__widget_vkontakte {
    border-radius: 5px 0 0 5px
}

.ctx_ren .opechatka {
    border-radius: 0 5px 5px 0
}

#block-views-news-block-2 h2 {
    margin-top: 23px;
    margin-bottom: 14px;
    color: #5f5f5f;
    font-weight: 400;
    font-size: 20px
}

#block-views-news-block-2 .view-news.list .views-field-title {
    font-weight: 700;
    font-size: 15px;
    line-height: 1.25em
}

.sk83202_out {
    margin: 10px 0 15px!important
}

#block-block-41 .noteru_block {
    width: 30%;
    display: inline-block;
    vertical-align: top;
    margin-right: 3px
}

#block-block-41 .noteru_block .noteru_img {
    float: left;
    padding-right: 7px
}

#block-block-41 .noteru_block .noteru_title a {
    color: #1a1a1a;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    padding: 0;
    display: inline-block;
    width: 178px;
    margin: 0 0 0 5px
}

#block-block-40:before {
    content: " ";
    background: url('../../img/tizers_logo_partner.png') no-repeat 0 0;
    width: 171px;
    height: 22px;
    display: block;
    position: relative;
    margin: 15px 0 -5px
}

#block-block-41:before {
    content: " ";
    background: url('../../img/mirtesen-red.png') no-repeat 0 0;
    width: 171px;
    height: 25px;
    display: block;
    background-position: 0;
    margin-bottom: 5px;
    margin-top: 20px;
    background-size: 95px
}

#block-block-42 {
    margin: 0;
    position: relative
}

#block-block-42:before {
    content: " ";
    background: url('../../img/tizers_logo_partner.png') no-repeat 0 0;
    width: 171px;
    height: 25px;
    display: block;
    background-position: -2px -47px;
    margin-bottom: 9px;
    margin-top: 7px;
    margin-left: 0
}

.renregion__change {
    background: #fff;
    padding: 20px;
    z-index: 200;
    overflow: hidden;
    position: inherit;
    display: none;
    text-align: center
}

.renregion__change_b--no,
.renregion__change_b--yes,
.renregion__change_text {
    display: inline-block;
    vertical-align: top
}

.renregion__change_b {
    cursor: pointer;
    padding: 2px 12px;
    margin: 0 0 0 25px;
    background: #f47632;
    background: -moz-linear-gradient(top, #f47632 0%, #faa73f 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f47632), color-stop(100%, #faa73f));
    background: -webkit-linear-gradient(top, #f47632 0%, #faa73f 100%);
    background: -o-linear-gradient(top, #f47632 0%, #faa73f 100%);
    background: -ms-linear-gradient(top, #f47632 0%, #faa73f 100%);
    background: linear-gradient(to bottom, #f47632 0%, #faa73f 100%);
    color: #fff;
    border-radius: 4px
}

#hypercomments_click,
#hypercomments_click.active {
    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    -ms-transition: all .5s linear;
    -o-transition: all .5s linear;
    transition: all .5s linear
}

#hypercomments_click {
    background-color: #e9e9e9;
    padding: 15px 20px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    margin: 20px 0;
    border-top: 2px solid #cecece;
    border-bottom: 2px solid #cecece
}

#hypercomments_click.active {
    background-color: #fff
}

#hypercomments_click #hypercomments_widget {
    display: none
}

#hypercomments_click.active #hypercomments_widget {
    display: block
}

.hypercomments_click-text {
    letter-spacing: 2px
}

.rambler_header2 {
    position: absolute;
    vertical-align: top;
    text-align: left;
    display: block;
    clear: both
}

.rambler_news {
    position: relative;
    width: 817px;
    margin: 0;
    padding: 0;
    height: 80px;
    background-color: #fff
}

.rambler_item,
.rambler_item a.rambler_img {
    overflow: hidden;
    width: 258px;
    float: left
}

.rambler_item a.rambler_img {
    display: block;
    width: 60px;
    height: 80px;
    padding: 0 10px 0 0
}

.rambler_img img {
    width: 60px;
    height: auto;
    min-width: 60px;
    max-width: 60px
}

.rambler_item:hover {
    text-decoration: underline!important
}

.rambler_title {
    font-family: Arial, sans-serif;
    color: #1c1c1c;
    display: block;
    vertical-align: top;
    font-size: 14px;
    text-align: left;
    line-height: 1.5;
    padding-right: 15px
}

.smi2_mm {
    padding: 30px 0 0;
    display: block;
    margin: 20px 0 0;
    position: relative
}

#LentaInform3092 .mgline {
    width: 250px!important;
    margin: 0 10px 0 0!important;
    display: inline-block!important
}

.sk83202_a2 {
    margin-left: 71px!important;
    font-size: 14px!important
}

#LentaInform3092 .mctitle a,
.sk83202_a2 {
    line-height: 1.5!important
}

.sk83202_a1 img {
    border: none!important
}

#block-block-46 .mm-body {
    border: none;
    padding: 10px 0!important
}

#block-block-46 .mm-body__line--horizontal {
    margin-right: 6px!important
}

#block-block-46:before {
    content: " ";
    background: url('../../img/mm-sm.png') no-repeat 0 0;
    width: 171px;
    height: 25px;
    display: block;
    margin-bottom: 0;
    margin-top: 0px;
    background-size: 100px
}

#block-block-46 {
    height: 130px !important;
    overflow: hidden;
}

.smi_table_3014 tbody {
    border: none
}

#block-block-47 {
    width: 777px;
    margin-left: -3px;
    padding: 10px 0
}

#block-block-47:before {
    content: " ";
    background: url('../../img/24smi.png') no-repeat 0 0;
    width: 170px;
    height: 20px;
    display: block;
    margin-bottom: 0;
    margin-top: 10px;
    background-size: 115px
}

#block-block-48 tbody {
    border: none
}

#block-block-48 {
    width: 776px
}

#block-block-48 .da_adp_teaser {
    padding-bottom: 0!important
}

#block-block-49 {
    margin: 20px 0
}

#block-block-46 .mm-body__line a span {
    height: 67px!important
}

.view-display-id-timetable_adv th {
    border-bottom: 3px solid #bc4c03;
    color: #fff;
    background: #f68135
}

.view-display-id-timetable_adv td,
.view-display-id-timetable_adv th {
    text-align: left;
    padding: 10px 20px
}

.view-display-id-timetable_adv .views-field-edit-node a {
    border: 1px solid #f68135;
    padding: 2px 10px;
    background: #fff
}

.view-display-id-timetable_adv .views-field-edit-node a:hover {
    background: #f68135;
    color: #fff
}

.view-display-id-timetable_adv .views-field-edit-node {
    text-align: center
}

.view-display-id-timetable_adv .views-field-field-datetime-period {
    font-weight: 700
}

.view-display-id-timetable_adv .views-field-field-ads-position {
    font-weight: 700;
    text-align: center
}

.view-display-id-timetable_adv th.views-field-field-datetime-period a {
    color: #fff
}

.view-display-id-timetable_adv th.views-field-field-datetime-period a img {
    padding-left: 10px
}

.view-display-id-timetable_adv .view-header a {
    border: 1px solid #f68135;
    padding: 2px 10px;
    background: #fff;
    display: inline-block
}

.view-display-id-timetable_adv .view-header {
    margin-bottom: 35px
}

.view-display-id-timetable_adv table {
    width: 100%
}

.view-display-id-promo__rubic .views-row {
    float: left;
    width: 268px;
    height: 151px;
    position: relative;
    margin-bottom: 16px
}

.view-display-id-promo__rubic .views-row img {
    width: 268px;
    height: auto
}

.view-display-id-promo__rubic .views-row a span {
    display: none
}

.view-display-id-promo__rubic .views-row-first a span {
    display: block;
    height: 0;
    opacity: 0;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out
}

.view-display-id-promo__rubic .views-row-first:hover a span {
    height: 90px;
    display: block;
    opacity: 1
}

.view-display-id-promo__rubic .views-row-first img {
    width: inherit;
    height: inherit
}

.view-display-id-promo__rubic .views-row-first {
    float: left;
    width: 565px;
    height: 318px;
    margin-right: 17px
}

.view-display-id-promo__rubic .views-row .views-field-title {
    position: absolute;
    bottom: 0;
    width: 100%
}

.view-display-id-promo__rubic .views-row .views-field-title a {
    width: 100%;
    transition: all 1s ease-in;
    -moz-transition: all 1s ease-in;
    -webkit-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0)0%, rgba(0, 0, 0, .9)100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, .9)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0)0%, rgba(0, 0, 0, .9)100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0)0%, rgba(0, 0, 0, .9)100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0)0%, rgba(0, 0, 0, .9)100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0)0%, rgba(0, 0, 0, .9)100%);
    display: block;
    padding: 10px 15px 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    margin-bottom: 0
}

.view-display-id-promo__rubic .views-row .views-field-field-image {
    background: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7)
}

.view-display-id-promo__rubic .views-row {
    overflow: hidden
}

.view-display-id-promo__rubic .views-row img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out
}

.view-display-id-promo__rubic .views-row:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}

.view-display-id-promo__rubic .views-row-first .views-field-title a {
    width: 100%;
    padding: 40px 30px 20px;
    margin-bottom: 0
}

.view-display-id-promo__rubic .views-row .views-field-title a h3 {
    padding: 0;
    font-size: 1em;
    line-height: 1.3;
    margin: 0
}

.view-display-id-promo__rubic .views-row-first .views-field-title a h3 {
    font-size: 1.5em;
    line-height: 1.3;
    margin-bottom: 10px
}

.view-tvi.view-display-id-page_1.list .views-row {
    border-bottom: none;
    background: #fff;
    position: relative;
    padding-bottom: 20px;
    display: inline-block;
    width: 200px;
    vertical-align: top;
    margin: 0 6px 10px
}

.view-tvi.view-display-id-page_1.list .views-row .views-field-field-mark {
    position: absolute!important
}

.view-tvi.view-display-id-page_1.list {
    margin: 2px -7px 0 -5px
}

.view-display-id-show_news_bottom {
    padding-bottom: 15px
}

.view-id-tvi .views-field-field-image .i-video2 a:after,
.view-pr-rub .views-field-field-image .i-video2 a:after {
    content: " ";
    position: absolute;
    background: url(../img/video_icon.svg?4) no-repeat;
    width: 35px;
    height: 35px;
    display: block;
    margin-left: 0;
    vertical-align: middle;
    margin-top: 0;
    opacity: .85;
    bottom: 10px;
    right: 10px
}

.view-pr-rub .views-field-field-image .i-video2 a:after {
    z-index: 200
}

.view-pr-rub .views-row-first .views-field-field-image .i-video2 a:after {
    width: 50px;
    right: 15px;
    bottom: 15px;
    height: 50px
}

.news_main_content .view-id-blog {
    margin-top: -1px
}

#block-block-50 {
    margin: 30px 0 0
}

#sidebar .region-sidebar #block-block-51 iframe {
    width: 272px;
    height: 160px
}

#social__invite {
    background: #fff;
    padding: 20px;
    position: fixed;
    top: 50%;
    width: 200px;
    left: 0;
    margin-top: -100px;
    z-index: 200;
    text-align: center;
    box-shadow: 2px 2px 100px rgba(0, 0, 0, .3);
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    -o-animation-delay: 1.5s;
    animation-delay: 1.5s
}

#social__invite span.read {
    font-size: 24px
}

#social__invite .button-invite {
    padding: 10px 20px;
    display: block;
    background: #587e9f;
    color: #fff;
    margin: 25px 7px 5px
}

#social__invite .button-invite .fa {
    padding: 0 7px 0 0
}

#social__invite .social__invite--text>.fa {
    position: absolute;
    right: 5px;
    top: 5px
}

#social__invite .fa-times {
    cursor: pointer
}

#social__invite.open {
    -moz-transform: translate3d(0, 0, 0) scale(1);
    -moz-animation: slideIn .35s ease-in-out;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1);
    -webkit-animation: slideIn .35s ease-in-out;
    animation: slideIn .35s ease-in-out
}

@-webkit-keyframes slideIn {
    0% {
        opacity: .3;
        -webkit-transform: translate3d(-250px, 0, 0) scale(.97)
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0) scale(1)
    }
}

@keyframes slideIn {
    0% {
        opacity: .3;
        -webkit-transform: translate3d(-250px, 0, 0) scale(.97);
        transform: translate3d(-250px, 0, 0) scale(.97)
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0) scale(1);
        transform: translate3d(0, 0, 0) scale(1)
    }
}

.node-type-blog .button.grey.comments {
    margin-top: 6px
}

.seedr-player.open {
    width: 400px!important;
    margin: 0 auto 20px!important
}

#body-display-id-stazhirovka-desc {
    display: none;
    padding: 40px
}

#cboxContent #body-display-id-stazhirovka-desc {
    display: block
}

#body-display-id-stazhirovka a.button {
    padding: 10px 25px;
    background: #fca80f;
    background: -moz-linear-gradient(top, #fca80f 0%, #ef9004 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fca80f), color-stop(100%, #ef9004));
    background: -webkit-linear-gradient(top, #fca80f 0%, #ef9004 100%);
    background: -o-linear-gradient(top, #fca80f 0%, #ef9004 100%);
    background: -ms-linear-gradient(top, #fca80f 0%, #ef9004 100%);
    background: linear-gradient(to bottom, #fca80f 0%, #ef9004 100%);
    color: #fff;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .23);
    border-bottom: 2px solid #cc7b02;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    font-size: 23px;
    margin: 40px auto;
    display: block;
    text-align: center;
    width: 192px
}

#yandex_ad_R-137232-8 {
    text-align: center;
    margin: 5px 0 25px
}

#yandex_ad_R-137232-7 {
    text-align: center;
    display: block;
    position: relative;
    clear: both
}

#yandex_ad_R-137232-9 {
    text-align: center
}

#block-block-54 {
    position: relative
}

#block-block-14 .mm-body {
    width: 100%
}

#block-views-projects-project-teaser .views-row {
    display: inline-block;
    vertical-align: top;
    margin-left: auto;
    margin-right: 14px;
    position: relative;
    -webkit-box-shadow: 0 11px 30px -7px rgba(50, 50, 50, .58);
    -moz-box-shadow: 0 11px 30px -7px rgba(50, 50, 50, .58);
    box-shadow: 0 11px 30px -7px rgba(50, 50, 50, .58);
    margin-top: 25px
}

.page-proekti .region-prolog #block-views-projects-project-teaser.block-views {
    width: inherit;
    margin: 0 -15px 0 0
}

.page-proekti .region-prolog #block-views-projects-project-teaser.block-views .view-content {
    position: relative;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin-top: 0
}

#block-block-55 {
    padding-top: 30px;
    position: relative
}

.view-display-id-block_russia .view-content .views-field.views-field-field-mark {
    position: relative!important
}

.view-display-id-block_russia .view-content .views-field.views-field-field-mark:after {
    display: none
}

.view-display-id-block_autor .views-row {
    position: relative;
    padding: 10px 0 15px
}

.view-id-blog.view-display-id-block_autor .view-content {
    margin-top: 0
}

#block-views-blog-block-autor .views-row .blog__desc,
.view-display-id-block_autor .views-field-body {
    display: none
}

#block-views-blog-block-autor .views-row .blog__title,
.view-display-id-block_autor .views-field-title-1 {
    position: absolute;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box
}

.view-display-id-block_autor .views-field-title-1 {
    top: 96px;
    display: block;
    padding: 0
}

#block-views-blog-block-autor .views-row .blog__title {
    bottom: 0;
    padding: 1px 0 2px 65px;
    background: #f47632;
    background: -moz-linear-gradient(45deg, #f47632 0%, #faa73f 100%);
    background: -webkit-linear-gradient(45deg, #f47632 0%, #faa73f 100%);
    background: linear-gradient(45deg, #f47632 0%, #faa73f 100%);
    color: #fff;
    height: 25px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

#block-views-blog-block-autor .views-row .views-field-title-1 a img {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 20;
    border: 3px solid #fff;
    margin: 3px 5px
}

#block-views-blog-block-autor .view-id-blog .views-field-title {
    font-size: 18px;
    padding: 5px 0
}

.rambler_header2 {
    z-index: 100;
    margin-top: 0;
    top: 0;
    height: 24px;
    font-size: 16px;
    color: #000;
    font-weight: 700;
    font-family: "Pt Sans", Arial, sans-serif
}

.page-novosti-vse h1#page-title {
    margin-bottom: 0;
    padding-bottom: 0
}

.sqid.view-ui-grid .views-row img {
    width: 100%;
    height: auto
}

.sqid.view-ui-grid .views-row h3 {
    margin: 0;
    color: #000;
    font-size: 18px;
    padding: 10px 0;
    line-height: 24px
}

.sqid.view-ui-grid .views-row .views-field-field-image {
    height: auto;
    overflow: hidden
}

.sqid.view-ui-grid .views-row.views-row-4,
.sqid.view-ui-grid .views-row.views-row-5 {
    width: 268px;
    float: left;
    display: block;
    margin: 0 25px 0 0
}

.sqid.view-ui-grid .views-row:nth-child(n+4):nth-child(-n+5) .views-field-field-image a {
    height: 151px
}

.sqid.view-ui-grid .views-row:nth-child(n+4):nth-child(-n+5) .views-field-field-image .i-video2 a:after {
    width: 35px;
    height: 35px
}

.sqid.active_grid .view-ui-grid .views-row {
    border: 1px dashed #333
}

.sqid.view-ui-grid .views-row.views-row-6,
.sqid.view-ui-grid .views-row.views-row-7,
.sqid.view-ui-grid .views-row.views-row-8,
.sqid.view-ui-grid .views-row.views-row-9,
.sqid.view-ui-grid .views-row:nth-child(n+6) {
    width: 268px;
    clear: both;
    padding-bottom: 10px;
    border-bottom: 1px solid #bbb;
    margin: -3px 0 15px;
    float: none !important;
    display: inline-block;
}

.sqid.view-ui-grid .views-row.views-row-5 {
    margin: 0;
}

.sqid.view-ui-grid .view-content__right .views-row {
    width: 265px;
    clear: both;
    padding-bottom: 10px;
    border-bottom: 1px solid #bbb;
    margin: -3px 0 15px;
    float: none;
    display: inline-block;
    vertical-align: top;
}

.sqid .view-content__right {
    width: 50%;
    float: right;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 13px;
}

#block-views-ui-grid-front-teaser-grid .views-row:nth-child(n+6) .views-field-created,
#block-views-ui-grid-front-teaser-grid .sqid.view-ui-grid .view-content__right .views-row .views-field-created {
    display: block;
    float: left;
    font-weight: 400;
    font-size: 14px;
    margin-right: 10px;
    margin-top: 3px;
    background: #fba612;
    background: -moz-linear-gradient(top, #fba612 0%, #fc8e10 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fba612), color-stop(100%, #fc8e10));
    background: -webkit-linear-gradient(top, #fba612 0%, #fc8e10 100%);
    background: -o-linear-gradient(top, #fba612 0%, #fc8e10 100%);
    background: -ms-linear-gradient(top, #fba612 0%, #fc8e10 100%);
    background: linear-gradient(to bottom, #fba612 0%, #fc8e10 100%);
    padding: 0 5px;
    color: #fff
}

.sqid.view-ui-grid .views-row.views-row-6,
.sqid.view-ui-grid .views-row.views-row-8 {
    margin-right: 26px;
}

.sqid.view-ui-grid .views-row:nth-child(n+6) h3,
.sqid.view-ui-grid .view-content__right .views-row h3 {
    padding: 0 0 10px
}

.sqid.view-ui-grid .views-row:nth-child(n+6) .views-field.views-field-field-mark,
#block-views-ui-grid-front-teaser-grid .sqid.view-ui-grid .view-content__right .views-row .views-field.views-field-field-mark {
    position: relative;
    margin: 3px 9px 3px 0;
    padding: 1px 5px 0
}

.sqid.view-ui-grid .views-row:nth-child(n+6) .views-field-field-image,
.sqid.view-ui-grid .view-content__right .views-row .views-field-field-image {
    display: none;
}

.sqid.view-ui-grid .view-content__right .views-row .views-field-field-image {
    display: none;
}

.sqid.view-ui-grid .views-row h2 {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-decoration: none;
    margin: 0;
    padding: 4px 0;
    color: #000
}

.sqid.view-ui-grid .views-field-field-image a {
    display: block;
    overflow: hidden;
    height: 200px
}

.sqid.view-ui-grid .settings-1 .views-field-title h3 {
    padding: 10px;
    background: #fef7c4;
    color: #000
}

.sqid.view-ui-grid .views-field-field-image .i-video2 a:after {
    content: " ";
    position: absolute;
    background: url(../../img/video_icon.svg?4) no-repeat;
    width: 50px;
    height: 50px;
    display: block;
    margin-left: 2px;
    vertical-align: middle;
    margin-top: -1px;
    opacity: .85;
    bottom: 2px;
    right: 10px
}

.sqid.view-ui-grid .views-row {
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    -ms-transition: all .2s ease;
    transition: all .2s ease;
    list-style: none;
    width: 366px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    vertical-align: top;
    margin: 0 0 25px
}

.sqid.view-ui-grid .views-row.views-row-2 {
    margin: 0 20px 20px
}

.sqid .view-content {
    overflow: hidden
}

.sqid .view-content .views-field.views-field-field-mark {
    position: absolute;
    z-index: 200
}

.region-prolog #block-views-news-block-main-new,
.region-prolog #block-views-news-block-stream {
    display: inline-block;
    vertical-align: top;
    float: none
}

.region-prolog #block-views-news-block-stream {
    width: 285px;
    margin-left: 21px
}

.region-prolog .view-display-id-block_main_new {
    vertical-align: top;
    width: 539px;
    margin-right: 0;
    min-height: 412px;
    padding-bottom: 0
}

.region-prolog #block-views-news-block-main-new .views-field-field-mark {
    position: absolute;
    background: #d90000;
    color: #fff;
    height: 27px;
    text-align: center;
    font-size: 19px;
    padding: 2px 11px 1px;
    letter-spacing: 0;
    font-weight: 400;
    margin-left: -6px;
    margin-top: 14px;
    z-index: 2
}

.region-prolog #block-views-news-block-stream .view-news.stream .view-footer a:hover {
    background: #c2c2c2;
    color: #171717
}

.region-prolog #block-views-news-block-main-new .view-news.main .views-field-title {
    padding: .5em 25px .8em
}

.region-prolog #block-views-news-block-main-new .views-field-field-mark:after {
    content: '';
    position: absolute;
    right: unset;
    left: 0;
    top: 30px;
    border: 3px solid transparent;
    border-top: 3px solid maroon;
    border-right: 3px solid maroon
}

.region-prolog .view-display-id-block_main_new h3 {
    font-size: 30px;
    font-weight: 700;
    height: auto;
    margin: 0;
    display: none;
    line-height: 33px;
    text-decoration: none
}

.views-field-field-image .i-video2:hover a:after {
    opacity: .5
}

.region-prolog .view-display-id-block_stream {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 285px;
    margin: 0;
    padding: 0
}

.region-prolog .view-display-id-block_stream .view-content {
    background: #fff3d5
}

.region-prolog .view-news.stream .views-row {
    margin: 0 18px 0 0;
    padding: 10px 0
}

.region-prolog .view-news.stream .views-row-10 {
    opacity: 1
}

.view-content-wrapper2 {
    height: 382px
}

.region-prolog .stream .view-footer {
    display: block;
    position: relative
}

.region-prolog .view-news.stream .views-row.views-row-9 {
    border-bottom: 1px solid #d9cfb5
}

.ps-container.ps-active-y>.ps-scrollbar-y-rail {
    display: block
}

.ps-container>.ps-scrollbar-y-rail,
.ps-container>.ps-scrollbar-y-rail>.ps-scrollbar-y {
    position: absolute;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    width: 5px;
    margin: 5px 0
}

.ps-container>.ps-scrollbar-y-rail {
    display: none;
    opacity: 0;
    -webkit-transition: background-color .2s linear, opacity .2s linear;
    -moz-transition: background-color .2s linear, opacity .2s linear;
    -o-transition: background-color .2s linear, opacity .2s linear;
    transition: background-color .2s linear, opacity .2s linear;
    right: 3px
}

.ps-container:hover>.ps-scrollbar-y-rail {
    opacity: .6
}

.ps-container>.ps-scrollbar-y-rail>.ps-scrollbar-y {
    background-color: #aaa;
    -webkit-transition: background-color .2s linear;
    -moz-transition: background-color .2s linear;
    -o-transition: background-color .2s linear;
    transition: background-color .2s linear;
    right: 0
}

#block-block-58 {
    width: 272px;
    display: inline-block;
    vertical-align: top;
    margin-left: 21px
}

#block-views-ui-grid-front-teaser-grid {
    margin: 0 -26px 10px
}

.sqid .view-content {
    padding: 26px 26px 0;
    margin: 0;
    border: none
}

.front #content {
    padding-top: 5px
}

.region-prolog .view-id-ads.view-display-id-block_3 .bx-wrapper {
    margin: 0;
    padding-bottom: 30px
}

.region-prolog .view-id-ads.view-display-id-block_3 {
    height: 412px
}

.region-prolog .view-id-ads.view-display-id-block_3 .bx-controls {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    background: #dfdfdf;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 0
}

.region-prolog .view-id-ads.view-display-id-block_3 .bx-viewport {
    height: 382px;
    overflow: hidden
}

.region-prolog .view-id-ads.view-display-id-block_3 .bx-wrapper .bx-pager.bx-default-pager a {
    background: #737373
}

.region-prolog .view-id-ads.view-display-id-block_3 .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #f99201
}

#block-views-ui-grid-front-teaser-grid .settings-1.views-row-7 .views-field-created,
#block-views-ui-grid-front-teaser-grid .settings-1.views-row-8 .views-field-created,
#block-views-ui-grid-front-teaser-grid .settings-1.views-row-9 .views-field-created,
#block-views-ui-grid-front-teaser-grid .views-row-6.settings-1 .views-field-created {
    margin-top: 12px;
    margin-left: 10px;
    margin-bottom: 3px
}

#block-views-ui-grid-front-teaser-grid .settings-1.views-row-6 .views-field.views-field-field-mark,
#block-views-ui-grid-front-teaser-grid .settings-1.views-row-7 .views-field.views-field-field-mark,
#block-views-ui-grid-front-teaser-grid .settings-1.views-row-8 .views-field.views-field-field-mark,
#block-views-ui-grid-front-teaser-grid .settings-1.views-row-9 .views-field.views-field-field-mark {
    margin-top: 12px;
    margin-right: 0;
    margin-left: 10px
}

.sqid.qid-3,
.sqid.qid-4 {
    margin: 0 -26px 23px
}

.sqid.qid-3 .views-field-created,
.sqid.qid-4 .views-field-created {
    display: none
}

.sqid.qid-3 .views-row-1,
.sqid.qid-4 .views-row-1 {
    display: inline-block;
    width: 561px;
    position: relative
}

.sqid.qid-3 .views-row.views-row-2,
.sqid.qid-4 .views-row.views-row-2 {
    width: 265px;
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 20px;
    position: relative
}

.sqid.qid-3 .views-row-1 .views-field-title,
.sqid.qid-4 .views-row-1 .views-field-title {
    position: absolute;
    color: #fff;
    display: block;
    bottom: 0;
    width: 100%
}

.sqid.qid-3 .view-content,
.sqid.qid-4 .view-content {
    padding: 0 25px 0 26px;
    margin-top: 1px
}

.sqid.qid-3 .views-field-body,
.sqid.qid-4 .views-field-body {
    display: none
}

.sqid.qid-3 .views-row-1 .views-field-title h3,
.sqid.qid-4 .views-row-1 .views-field-title h3 {
    padding: 40px 25px 25px;
    color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, .9)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0)0%, rgba(0, 0, 0, .9)100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0)0%, rgba(0, 0, 0, .9)100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0)0%, rgba(0, 0, 0, .9)100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0)0%, rgba(0, 0, 0, .9)100%);
    font-size: 1.6em;
    line-height: 1.3
}

.sqid.qid-3 .views-row-1 .views-field-field-image img,
.sqid.qid-4 .views-row-1 .views-field-field-image img {
    width: 100%;
    height: auto
}

.sqid.qid-3 .views-row-2 .views-field-title h3,
.sqid.qid-4 .views-row-2 .views-field-title h3 {
    color: #000;
    font-size: 18px;
    margin: 0;
    padding: 0 0 5px
}

.sqid.qid-3 .views-row-2 .views-field-body,
.sqid.qid-4 .views-row-2 .views-field-body {
    display: block
}

#block-views-news-block-17 .views-field-body,
.sqid.qid-3 .views-row-2 .views-field-body,
.sqid.qid-4 .views-row-2 .views-field-body {
    color: #777;
    font-size: 16px;
    margin: 0;
    line-height: 1.3
}

.sqid.qid-3 .views-field-field-image a,
.sqid.qid-4 .views-field-field-image a {
    height: auto
}

#block-views-news-block-17 .view-content .views-field.views-field-field-mark,
.sqid.qid-3 .view-content .views-field.views-field-field-mark,
.sqid.qid-4 .view-content .views-field.views-field-field-mark,
.view-display-id-page_main .views-field-field-mark {
    position: absolute;
    background: #d90000;
    color: #fff;
    height: 17px;
    text-align: center;
    font-size: 12px;
    padding: 2px 11px 1px;
    letter-spacing: 0;
    font-weight: 400;
    float: left;
    margin-right: 12px;
    margin-top: 11px
}

.view-display-id-page_main .views-field-field-mark {
    position: relative;
    margin-top: 0
}

#block-views-news-block-7 .views-panel-section {
    float: left;
    margin: 0 25px 0 0;
    width: 268px
}

#block-views-news-block-7 .views-panel {
    margin: 0 -5px 0 0
}

#block-views-news-block-17 .views-row.views-row-3,
#block-views-news-block-7 .views-panel-section.views-panel-section-3 {
    margin: 0;
    width: 268px
}

#block-views-news-block-7 .views-field-title h3 {
    padding: 9px 0 15px
}

#block-views-news-block-7 .view-content .views-field.views-field-field-mark {
    padding: 1px 11px;
    margin-top: 19px
}

#block-views-news-block-17 .views-row {
    float: left;
    margin: 0 25px 0 0;
    width: 268px;
    border-top: 1px solid #d9d9d9;
    padding-top: 25px
}

.region-prolog .view-news.stream .views-field-title {
    width: 190px;
    vertical-align: top;
    display: inline-block
}

#block-views-news-block-17 {
    margin-right: -4px;
    margin-bottom: 25px
}

#block-views-news-block-17 h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-decoration: none;
    margin: 0;
    padding: 4px 0
}

.sqid.view-ui-grid .views-field-field-image .i-video2 a:after {
    z-index: 100
}

#block-views-news-block-17 .views-row.settings-1 h3,
.sqid.qid-3 .views-row-2.settings-1 .views-field-title h3,
.sqid.qid-4 .views-row-2.settings-1 .views-field-title h3 {
    padding: 10px;
    margin: -10px 0 0;
    background: #fef7c4
}

#block-views-news-block-17 .views-row.settings-1 .views-field-body,
.sqid.qid-3 .views-row-2.settings-1 .views-field-body,
.sqid.qid-4 .views-row-2.settings-1 .views-field-body {
    padding: 10px
}

#block-views-ui-grid-front-teaser-grid .sqid.view-ui-grid .view-content__right .views-row.settings-1 .views-field-created {
    margin-top: 12px;
}

.sqid.view-ui-grid.qid-4 .views-row {
    margin-bottom: 3px
}

.view-display-id-block_new24 .views-row {
    width: 200px;
    display: inline-block;
    margin-right: 16px;
    vertical-align: top;
    margin-bottom: 15px
}

.view-display-id-block_new24 .views-row.views-row-12,
.view-display-id-block_new24 .views-row.views-row-4,
.view-display-id-block_new24 .views-row.views-row-8 {
    margin-right: 0
}

.view-display-id-block_new24 {
    margin: 0 -2px 0 0
}

.view-display-id-block_new24 .views-row:nth-child(1),
.view-display-id-block_new24 .views-row:nth-child(10),
.view-display-id-block_new24 .views-row:nth-child(11),
.view-display-id-block_new24 .views-row:nth-child(2),
.view-display-id-block_new24 .views-row:nth-child(3),
.view-display-id-block_new24 .views-row:nth-child(5),
.view-display-id-block_new24 .views-row:nth-child(6),
.view-display-id-block_new24 .views-row:nth-child(7),
.view-display-id-block_new24 .views-row:nth-child(9) {
    margin-right: 12px
}

.view-id-news .views-field-field-image .i-video2 a:after {
    z-index: 100;
    width: 50px;
    height: 50px
}

#block-block-59 {
    margin: 0 -9px;
    position: relative
}

#block-block-59 #da398666 .mgline {
    margin: 10px 4px
}

#block-block-59 #da398666 .text-elements a {
    vertical-align: top;
    text-align: left;
    overflow: hidden;
    font-size: 17px;
    color: #000;
    line-height: 23px;
    font-weight: 700;
    font-family: "PT Sans", Arial, sans-serif;
    text-decoration: none;
    display: inline-block;
    padding: 0
}

#block-block-59 #da398666 .mctitle {
    margin-top: 4px;
    text-align: center;
    margin-left: 3px
}

#block-block-59 .rambler_header2 {
    margin-left: 8px;
    position: relative;
}

.feedback__info {
    color: #333;
    text-align: center;
    font-size: .8rem;
    padding: 0 200px
}

#date_picker {
    display: block;
    text-align: right;
}

#date_picker-select {
    text-decoration: underline;
    color: #FB9303;
    cursor: pointer;
}

.search_sphinx-form #edit-keys {
    margin: 0 10px 10px 24px;
    width: 460px;
}

#date_picker-textbefore span {
    text-decoration: underline;
    color: #FB9303;
    cursor: pointer;
}

.node-type-news .soc .nth-child5,
.node-type-news .soc .nth-child6 {
    display: inline-block;
    vertical-align: top;
    margin-top: 3px;
    width: 120px;
}

.node-type-news .soc .nth-child5 .fa,
.node-type-news .soc .nth-child6 .fa {
    margin-right: 8px;
}

.node-type-news .soc .nth-child5 a,
.node-type-news .soc .nth-child6 a {
    color: #727272;
    font-size: 14px;
}

.node-type-news .soc .nth-child7 {
    background-color: #ED3130;
    color: #fff;
    padding: 3px 8px;
    display: inline-block;
    vertical-align: top;
    font-size: 15px;
}
