.view-display-id-quiz__item {
  .views-row {
    margin: 0 10px 10px;
    display: inline-block;
    vertical-align: top;
    width: 200px;
    height: auto;
  }
  img {
      border: none;
      width: 100%;
      height: auto;
  }
  span {
      display: block;
      font-weight: bold;
      color: #000;
      margin: 4px;
      text-align: center;
  }
  .views-field-field-ad-url {
    display: none;
  }
  .views-field-body {
    display: none;
  }
}
