body .video_episode {
    margin: 0;
    width: 810px;
    min-height: 460px !important;
    #c4vplayer_episode {
        width: 100% !important;
        height: 460px !important;
    }
}

.node-type-project #content {
    .p_embed {
        .p_banner {
            margin: -10px -26px 0;
        }
    }
}

body {
    #block-views-video-proekt-epizod {
        display: none;
    }
    .view-display-id-newfilter_epizod {
        background: #363636;
        margin: 0;
        position: relative;
        padding: 0 26px 0 26px;
        width: 810px!important;
        box-sizing: border-box;
        .bx-wrapper .bx-viewport {
            left: 0;
        }
        .bx-wrapper img {
            height: auto;
        }
        .bx-wrapper a.bx-prev:before {
            left: 17px;
        }
        .bx-wrapper a.bx-next:after {
            right: 10px;
        }
    }
    &.node-type-episode #content {
        padding-top: 0;
    }
    &.node-type-episode #container-main {
        background: #fff;
    }
    &.node-type-episode .epizod {
        background: #e9e9e9;
        padding: 30px;
        width: 810px;
        box-sizing: border-box;
    }
}

.p_embed {
    .p_banner {
        position: relative;
        margin: 0 -26px;
        overflow: hidden;
    }
    .p_tab {
        margin-top: 27px;
        background: #fff;
        width: 810px;
        margin-bottom: 30px;
        box-sizing: border-box;
        section {
            display: none;
            padding: 25px;
            box-sizing: border-box;
            border: 1px solid #d6d6d6;
            .content .field-name-field-title {
                .field-item,
                .field-itemer {
                    font-size: 24px;
                    margin: 0 0 10px;
                    font-weight: bold;
                }
            }
        }
        input {
            display: none;
        }
        label {
            display: inline-block;
            margin: 0 6px -1px 0;
            padding: 10px 20px;
            font-weight: 600;
            text-transform: uppercase;
            text-align: center;
            background: #e9e9e9;
            color: #000000;
            border: 1px solid transparent;
            border-bottom: 1px solid #d6d6d6;
        }
        label:before {
            font-family: fontawesome;
            font-weight: normal;
            margin-right: 10px;
        }
        #tab_elem_summary-title {
            display: none;
        }
        label[for*='tab_elem_summary-title'] {
            display: none;
        }
        label[for*='2']:before {
            content: '\f17d';
        }
        label[for*='3']:before {
            content: '\f16b';
        }
        label[for*='4']:before {
            content: '\f1a9';
        }
        label:hover {
            color: #888;
            cursor: pointer;
        }
        input:checked + label {
            color: #f59310;
            background: #fff;
            border: 1px solid #d6d6d6;
            border-bottom: 1px solid #fff;
        }
        #tab_elem_photos-0:checked ~ #tab_elem_photos-0,
        #tab_elem_contents-0:checked ~ #tab_elem_contents-0,
        #tab_elem_summary:checked ~ #tab_elem_summary,
        #tab_elem_details-0:checked ~ #tab_elem_details-0,
        #tab_elem_quotes-0:checked ~ #tab_elem_quotes-0 {
            display: block;
        }
    }
    .p_desc {
        line-height: 1.5;
        font-size: 18px;
        .p_anons {
            float: right;
            margin: 0 0 20px 30px;
        }
    }
    .p_title {
        font-size: 24px;
        margin: 0 0 10px 0;
    }
    .photos {
        .field-name-field-title {
            display: none;
        }
        .wrap_photo {
            display: block;
            height: 220px;
            width: 758px !important;
        }
        .bx-wrapper {
            margin: 0 auto 0px;
            .bx-pager {
                padding-top: 15px;
            }
        }
        .field-collection-container {
            border-bottom: none;
        }
        .bx-wrapper .bx-viewport {
            left: 0;
        }
        .field-collection-container .field-items .field-item {
            display: inline-block;
            width: 180px;
            height: 100px;
            margin-right: 12px;
            &:nth-child(4n) {
                margin-right: 0;
            }
            img {
                width: 180px;
                height: 100px;
            }
        }
        .field-collection-view {
            padding: 0;
            margin: 0;
            border-bottom: 0;
            position: relative;
            ul.field-collection-view-links {
                position: absolute;
                top: 0;
                left: 0;
                padding: 0;
                background: rgba(255, 255, 255, 0.23);
                padding: 0 0 0 10px;
            }
        }
    }
    .bx-wrapper .bx-pager.bx-default-pager a {
        box-shadow: none !important;
    }
    #tab_elem_details-0,
    #tab_elem_details-1 {
        .bx-wrapper .bx-controls-direction a {
            position: absolute;
            top: -40px;
            right: 0;
            margin: 0;
            outline: 0;
            width: 24px;
            height: 24px;
            border-radius: 4px;
            text-indent: 0;
            z-index: 100;
            color: #636363;
            left: inherit;
            background: #d6d6d6;
            &.bx-prev {
                right: 34px;
                &:after {
                    content: "<";
                }
            }
            &:after {
                content: ">";
                text-align: center;
                width: 24px;
                display: block;
                font-weight: bold;
                font-size: 20px;
                line-height: 1.1;
            }
            &:hover {
                background: #636363;
                color: #fff;
            }
        }
        .bx-wrapper .bx-viewport {
            left: 0;
        }
        .bx-wrapper .bx-pager.bx-default-pager a {
            width: 12px;
            height: 12px;
            margin: 0 4px;
        }
        .field-name-field-detail {
            .field-itemer {
                position: relative;
                .content {
                    display: table;
                    vertical-align: top;
                    .field-name-field-desc {
                        display: table-cell;
                        padding-right: 25px;
                        box-sizing: border-box;
                        vertical-align: top;
                    }
                    .image_news {
                        display: table-cell;
                        vertical-align: top;
                        width: 185px;
                        img {
                            width: 100%;
                            height: auto;
                        }
                    }
                }
            }
        }
    }
    #tab_elem_quotes-0,
    #tab_elem_quotes-1 {
        .bx-wrapper .bx-viewport {
            left: 0;
        }
        .bx-wrapper .bx-pager.bx-default-pager a {
            width: 12px;
            height: 12px;
            margin: 0 4px;
        }
        .bx-wrapper .bx-controls-direction a {
            position: absolute;
            top: -40px;
            right: 0;
            margin: 0;
            outline: 0;
            width: 24px;
            height: 24px;
            border-radius: 4px;
            text-indent: 0;
            z-index: 100;
            color: #636363;
            left: inherit;
            background: #d6d6d6;
            &.bx-prev {
                right: 34px;
                &:after {
                    content: "<";
                }
            }
            &:after {
                content: ">";
                text-align: center;
                width: 24px;
                display: block;
                font-weight: bold;
                font-size: 20px;
                line-height: 1.1;
            }
            &:hover {
                background: #636363;
                color: #fff;
            }
        }
        .bx-wrapper {
            margin: 0 auto 15px;
        }
        .field-name-field-signature {
            display: table-row;
        }
        .field-name-field-quote {
            .field-itemer {
                position: relative;
                .content {
                    display: table;
                    vertical-align: top;
                    .field-name-field-desc {
                        display: table-cell;
                        padding-right: 25px;
                        box-sizing: border-box;
                        vertical-align: top;
                        padding-top: 15px;
                    }
                    .field-name-field-person {
                        display: block;
                        text-align: left;
                        position: absolute;
                        left: 0;
                        color: #000;
                        font-weight: bold;
                    }
                    .image_news {
                        display: table-cell;
                        vertical-align: top;
                        width: 185px;
                        img {
                            width: 100%;
                            height: auto;
                        }
                    }
                }
            }
        }
    }
}

.view-display-id-newfilter_epizod .bx-pager-item a.active {
    border: none;
}

.view-display-id-newfilter_epizod a.active {
    border: 2px solid orange;
}
#block-block-72 {
    .content {
        &>div {
            text-align: center;
            margin: 0 auto;
        }
    }
}