.sr-only{position:absolute;width:1px;height:1px;margin:-1px;padding:0;overflow:hidden;clip:rect(0, 0, 0, 0);border:0;}
.sr-only-focusable:active,
.sr-only-focusable:focus{position:static;width:auto;height:auto;margin:0;overflow:visible;clip:auto;}
.fade{opacity:0;-webkit-transition:opacity 0.15s linear;-o-transition:opacity 0.15s linear;transition:opacity 0.15s linear;}
.fade.in{opacity:1;}
.collapse{display:none;}
.collapse.in{display:block;}
tr.collapse.in{display:table-row;}
tbody.collapse.in{display:table-row-group;}
.collapsing{position:relative;height:0;overflow:hidden;-webkit-transition:height 0.35s ease;-o-transition:height 0.35s ease;transition:height 0.35s ease;}
.modal-open{overflow:hidden;}
.modal{display:none;overflow:hidden;position:fixed;top:0;right:0;bottom:0;left:0;z-index:1050;-webkit-overflow-scrolling:touch;outline:0;}
.modal.fade .modal-dialog{-webkit-transform:translate3d(0, -25%, 0);transform:translate3d(0, -25%, 0);-webkit-transition:-webkit-transform 0.3s ease-out;-moz-transition:-moz-transform 0.3s ease-out;-o-transition:-o-transform 0.3s ease-out;transition:transform 0.3s ease-out;}
.modal.in .modal-dialog{-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);}
.modal-open .modal{overflow-x:hidden;overflow-y:scroll;}
.modal-dialog{position:relative;width:auto;margin:10px;}
.modal-content{position:relative;background-color:#ffffff;border:1px solid #999999;border:1px solid rgba(0, 0, 0, 0.2);-webkit-box-shadow:0 3px 9px rgba(0, 0, 0, 0.5);box-shadow:0 3px 9px rgba(0, 0, 0, 0.5);background-clip:padding-box;outline:0;}
.modal-backdrop{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1040;background-color:#000000;}
.modal-backdrop.fade{opacity:0;filter:alpha(opacity=0);}
.modal-backdrop.in{opacity:0.5;filter:alpha(opacity=50);}
.modal-header{padding:15px;border-bottom:1px solid #665656;min-height:16.42857143px;background:#444;color:#FFF;}
.modal-header .close{-o-transition-duration:.5s;-moz-transition-duration:.5s;-webkit-transition-duration:.5s;transition-duration:.5s;-o-transition-property:background-color,border-color;-moz-transition-property:background-color,border-color;-webkit-transition-property:background-color,border-color;transition-property:background-color,border-color;-moz-border-radius:25px;-webkit-border-radius:25px;border-radius:33px;position:absolute;z-index:30;top:25px;right:35px;width:45px;height:45px;border:2px solid rgba(196, 133, 0, 0.88);text-indent:-9999px;cursor:pointer;margin:-46px -57px;background:rgba(61, 59, 56, 0.98);}
.modal-header .close:after{-o-transition-duration:.5s;-moz-transition-duration:.5s;-webkit-transition-duration:.5s;transition-duration:.5s;content:'+';position:absolute;background:url('../img/close_b.png') no-repeat;width:20px;height:20px;top:50%;left:50%;margin:-10px 0 0 -10px;opacity:.4;-o-transition-property:opacity,-o-transform;-moz-transition-property:opacity,-moz-transform;-webkit-transition-property:opacity,-webkit-transform;transition-property:opacity,transform;}
.modal-header .close:hover{border-color:#FFC200;}
.modal-header .close:hover:after{-ms-transform:rotate(90deg);-o-transform:rotate(90deg);-moz-transform:rotate(90deg);-webkit-transform:rotate(90deg);transform:rotate(90deg);opacity:1;}
.modal-title{margin:0;margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px;line-height:1.42857143;font-size:2em;text-align:center;}
.modal-body{position:relative;padding:15px;}
.modal-footer{padding:15px;text-align:right;border-top:1px solid #e5e5e5;}
.modal-footer .btn + .btn{margin-left:5px;margin-bottom:0;}
.modal-footer .btn-group .btn + .btn{margin-left:-1px;}
.modal-footer .btn-block + .btn-block{margin-left:0;}
.modal-scrollbar-measure{position:absolute;top:-9999px;width:50px;height:50px;overflow:scroll;}
@media (min-width:768px){.modal-dialog{width:600px;margin:80px auto;}
.modal-content{-webkit-box-shadow:0 5px 15px rgba(0, 0, 0, 0.5);box-shadow:0 5px 15px rgba(0, 0, 0, 0.5);}
.modal-sm{width:300px;}
}
@media (min-width:992px){.modal-lg{width:900px;}
}
.clearfix:before,
.clearfix:after,
.modal-footer:before,
.modal-footer:after{content:" ";display:table;}
.clearfix:after,
.modal-footer:after{clear:both;}
.center-block{display:block;margin-left:auto;margin-right:auto;}
.pull-right{float:right !important;}
.pull-left{float:left !important;}
.hide{display:none !important;}
.show{display:block !important;}
.invisible{visibility:hidden;}
.text-hide{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0;}
.hidden{display:none !important;visibility:hidden !important;}
.affix{position:fixed;-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);}