paper_on_theme .item-list .pager {
    margin-top: 15px
}

h1#page-title {
    color: #fb9303;
    font-weight: 700;
    font-size: 23px;
    text-transform: inherit
}

.page-taxonomy h1#page-title span,.page-taxonomy-term h1#page-title span {
    color: #999;
    font-weight: 400
}

.rowdate {
    height: 95px;
    background: #b3b3b3;
    color: #fff;
    padding: 10px
}

.dateblock {
    width: 115px;
    float: left;
    margin-top: 0;
    padding-top: 33px;
    z-index: 20;
    position: absolute
}

.dateblock .date {
    float: left;
    margin-right: 6px;
    color: #444;
    font-weight: 400;
    font-size: 15px;
    margin-top: 0;
    height: 115px;
    background: #595959;
    color: #fff;
    width: 115px;
    padding: 0 0 0 16px;
    cursor: pointer
}

.dateblock .date:hover {
    background: #e27b04
}

.dateblock .date .today {
    margin: 9px 0 14px 0;
    font-size: 17px;
    letter-spacing: 1px
}

.dateblock .date:nth-child(even) {
    background: #404040
}

.dateblock .date:nth-child(even):hover {
    background: #e27b04
}

.dateblock .open,.dateblock .date.open:nth-child(even),.dateblock .date.open:first-child {
    background: #e27b04;
    background: -moz-linear-gradient(top,#e27b04 0%,#fba60a 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#e27b04),color-stop(100%,#fba60a));
    background: -webkit-linear-gradient(top,#e27b04 0%,#fba60a 100%);
    background: -o-linear-gradient(top,#e27b04 0%,#fba60a 100%);
    background: -ms-linear-gradient(top,#e27b04 0%,#fba60a 100%);
    background: linear-gradient(to bottom,#e27b04 0%,#fba60a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e27b04', endColorstr='#fba60a', GradientType=0);
    height: 200px;
    display: block
}

.dateblock .date:first-child {
    background: #b3b3b3
}

.dateblock .date:first-child:hover {
    background: #e27b04
}

.dateblock h3 {
    font-weight: 400;
    font-size: 17px;
    font-family: arial;
    margin: 10px 0 0 0;
    text-transform: uppercase
}

.dateblock h3 div {
    font-size: 20px;
    padding: 0 0 3px 0
}

.schedule {
    overflow: hidden;
    position: relative;
    width: 1016px;
    margin: 0 0 0 97px;
    padding-left: 35px
}

.schedule .schedule_main {
    position: relative;
    display: table;
    width: 6370px
}

.schedule .video a {
    background: url(../img/play_path.png) no-repeat;
    width: 20px;
    height: 20px;
    float: right;
    position: absolute;
    display: block;
    text-indent: -9999px;
    right: 7px;
    bottom: 7px
}

.schedule .date {
    display: table-cell;
    width: 110px;
    left: 26px;
    top: auto;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    min-height: 115px;
    background: #404040;
    padding: 12px 0 0 13px;
    color: #fff
}

.schedule .date h3 {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 17px
}

.schedule .date div {
    font-size: 19px
}

.schedule .day_row:nth-child(odd) .date {
    background: #404040
}

.schedule .day_row:last-child .date {
    min-height: 115px
}

.schedule .day_row:nth-child(even) .date {
    background: #595959
}

.schedule .day_row:nth-child(even) .row .views-row {
    background: #f4f3ec
}

.schedule .day_row {
    height: 115px
}

.schedule .day_row .hover {
    background: #faa50a
}

.schedule .day_row .hover .views-row {
    background: #faa50a
}

.schedule .day_row:hover .views-row {
    background: orange!important
}

.schedule .day_row:hover .date {
    background: #e27b04!important
}

.schedule .day_row:first-child .row .views-row {
    background: #f7f7f4
}

.schedule .day_row:first-child .row .views-row .infos {
    color: #999
}

.schedule .day_row:first-child .row .views-row .infos a {
    color: #999
}

.schedule .day_row:hover .row .views-row .infos,.schedule .day_row:hover .row .views-row .infos a {
    color: #0c0000
}

.schedule .day_row.open:hover .row .views-row .infos,.schedule .day_row.open:hover .row .views-row .infos a {
    color: #fff
}

.schedule .views-field-php {
    display: none
}

.schedule .views-label.views-label-view {
    display: none
}

.schedule .row {
    display: table-cell;
    background: silver;
    height: 115px
}

.schedule .row .views-field-title a {
    color: #000;
    font-weight: 700
}

.schedule .row .views-field-field-genre a {
    font-size: 13px;
    color: #000;
    font-weight: noraml
}

.schedule .row .views-row {
    display: table-cell;
    height: 95px;
    background: #eceae3;
    float: left;
    border-right: 2px solid #fff;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 115px;
    overflow: hidden;
    position: relative
}

.schedule .row .views-row .img {
    display: none
}

.schedule .row .infos {
    padding: 12px 5px 0 15px
}

.schedule .row .infos a {
    color: #000
}

.schedule .row .infos .genre a {
    font-size: 15px
}

.schedule .row .infos .title a {
    font-weight: 700;
    word-wrap: break-word
}

.schedule .row .infos .edit a {
    color: #a80d00;
    font-size: 10px
}

.schedule .row .views-field-field-image {
    display: none;
    margin: -12px -16px
}

.schedule .row .view-row-duration-0 .live_shedule {
    display: none
}

.schedule .row .view-row-duration-1 .live_shedule {
    height: 20px;
    width: 20px;
    background: url(../img/play_online.png);
    text-indent: -9999px;
    -webkit-animation: play 1.2s 1.2s ease-in-out infinite;
    -moz-animation: play 1.2s 1.2s ease-in-out infinite;
    -ms-animation: play 1.2s 1.2s ease-in-out infinite;
    -o-animation: play 1.2s 1.2s ease-in-out infinite;
    animation: play 1.2s 1.2s ease-in-out infinite;
    animation-direction: alternative
}

.schedule .row .view-row-duration-2 .live_shedule {
    height: 20px;
    width: 20px;
    background: url(../img/play_online.png);
    text-indent: -9999px;
    -webkit-animation: play 1.2s 1.2s ease-in-out infinite;
    -moz-animation: play 1.2s 1.2s ease-in-out infinite;
    -ms-animation: play 1.2s 1.2s ease-in-out infinite;
    -o-animation: play 1.2s 1.2s ease-in-out infinite;
    animation: play 1.2s 1.2s ease-in-out infinite;
    animation-direction: alternative
}

.schedule .row .view-row-duration-3 .live_shedule {
    height: 20px;
    width: 20px;
    background: url(../img/play_online.png);
    text-indent: -9999px;
    -webkit-animation: play 1.2s 1.2s ease-in-out infinite;
    -moz-animation: play 1.2s 1.2s ease-in-out infinite;
    -ms-animation: play 1.2s 1.2s ease-in-out infinite;
    -o-animation: play 1.2s 1.2s ease-in-out infinite;
    animation: play 1.2s 1.2s ease-in-out infinite;
    animation-direction: alternative
}

.schedule .row .view-row-duration-4 .live_shedule {
    height: 20px;
    width: 20px;
    background: url(../img/play_online.png);
    text-indent: -9999px;
    -webkit-animation: play 1.2s 1.2s ease-in-out infinite;
    -moz-animation: play 1.2s 1.2s ease-in-out infinite;
    -ms-animation: play 1.2s 1.2s ease-in-out infinite;
    -o-animation: play 1.2s 1.2s ease-in-out infinite;
    animation: play 1.2s 1.2s ease-in-out infinite;
    animation-direction: alternative
}

.schedule .row .view-row-duration-5 .live_shedule {
    height: 20px;
    width: 20px;
    background: url(../img/play_online.png);
    text-indent: -9999px;
    -webkit-animation: play 1.2s 1.2s ease-in-out infinite;
    -moz-animation: play 1.2s 1.2s ease-in-out infinite;
    -ms-animation: play 1.2s 1.2s ease-in-out infinite;
    -o-animation: play 1.2s 1.2s ease-in-out infinite;
    animation: play 1.2s 1.2s ease-in-out infinite;
    animation-direction: alternative
}

.schedule .row .view-row-duration-6 .live_shedule {
    height: 20px;
    width: 20px;
    background: url(../img/play_online.png);
    text-indent: -9999px;
    -webkit-animation: play 1.2s 1.2s ease-in-out infinite;
    -moz-animation: play 1.2s 1.2s ease-in-out infinite;
    -ms-animation: play 1.2s 1.2s ease-in-out infinite;
    -o-animation: play 1.2s 1.2s ease-in-out infinite;
    animation: play 1.2s 1.2s ease-in-out infinite;
    animation-direction: alternative
}

.schedule .row .view-row-duration-7 .live_shedule {
    height: 20px;
    width: 20px;
    background: url(../img/play_online.png);
    text-indent: -9999px;
    -webkit-animation: play 1.2s 1.2s ease-in-out infinite;
    -moz-animation: play 1.2s 1.2s ease-in-out infinite;
    -ms-animation: play 1.2s 1.2s ease-in-out infinite;
    -o-animation: play 1.2s 1.2s ease-in-out infinite;
    animation: play 1.2s 1.2s ease-in-out infinite;
    animation-direction: alternative
}

.schedule .row .view-row-duration-8 .live_shedule {
    height: 20px;
    width: 20px;
    background: url(../img/play_online.png);
    text-indent: -9999px;
    -webkit-animation: play 1.2s 1.2s ease-in-out infinite;
    -moz-animation: play 1.2s 1.2s ease-in-out infinite;
    -ms-animation: play 1.2s 1.2s ease-in-out infinite;
    -o-animation: play 1.2s 1.2s ease-in-out infinite;
    animation: play 1.2s 1.2s ease-in-out infinite;
    animation-direction: alternative
}

.schedule .row .view-row-duration-9 .live_shedule {
    height: 20px;
    width: 20px;
    background: url(../img/play_online.png);
    text-indent: -9999px;
    -webkit-animation: play 1.2s 1.2s ease-in-out infinite;
    -moz-animation: play 1.2s 1.2s ease-in-out infinite;
    -ms-animation: play 1.2s 1.2s ease-in-out infinite;
    -o-animation: play 1.2s 1.2s ease-in-out infinite;
    animation: play 1.2s 1.2s ease-in-out infinite;
    animation-direction: alternative
}

@-webkit-keyframes play {
    0% {
        opacity: 1
    }

    to {
        opacity: .3
    }
}

@-moz-keyframes play {
    0% {
        opacity: 1
    }

    to {
        opacity: .3
    }
}

@-o-keyframes play {
    0% {
        opacity: 1
    }

    to {
        opacity: .3
    }
}

@keyframes play {
    0% {
        opacity: 1
    }

    to {
        opacity: .3
    }
}

.schedule .row .view-row-duration-0 .live_shedule:after {
    display: none
}

.schedule .row .view-row-duration-1 .live_shedule:after {
    display: none
}

.schedule .row .view-row-duration-2 .live_shedule:after {
    display: none
}

.schedule .row .view-row-duration-3 .live_shedule:after {
    display: none
}

.schedule .row .view-row-duration-4 .live_shedule:after {
    display: none
}

.schedule .row .view-row-duration-5 .live_shedule:after {
    display: none
}

.schedule .row .view-row-duration-6 .live_shedule:after {
    display: none
}

.schedule .row .view-row-duration-7 .live_shedule:after {
    display: none
}

.schedule .row .view-row-duration-8 .live_shedule:after {
    display: none
}

.schedule .row .view-row-duration-9 .live_shedule:after {
    display: none
}

.schedule .row .view-row-duration-0 {
    display: none
}

.schedule .row .view-row-duration-1 {
    width: 22px
}

.schedule .row .view-row-duration-2 {
    width: 44px
}

.schedule .row .view-row-duration-3 {
    width: 66px
}

.schedule .row .view-row-duration-4 {
    width: 88px
}

.schedule .row .view-row-duration-5 {
    width: 110px
}

.schedule .row .view-row-duration-6 {
    width: 132px
}

.schedule .row .view-row-duration-7 {
    width: 154px
}

.schedule .row .view-row-duration-8 {
    width: 176px
}

.schedule .row .view-row-duration-9 {
    width: 198px
}

.schedule .row .view-row-duration-10 {
    width: 220px
}

.schedule .row .view-row-duration-11 {
    width: 242px
}

.schedule .row .view-row-duration-12 {
    width: 264px
}

.schedule .row .view-row-duration-13 {
    width: 286px
}

.schedule .row .view-row-duration-14 {
    width: 308px
}

.schedule .row .view-row-duration-15 {
    width: 330px
}

.schedule .row .view-row-duration-16 {
    width: 352px
}

.schedule .row .view-row-duration-17 {
    width: 374px
}

.schedule .row .view-row-duration-18 {
    width: 396px
}

.schedule .row .view-row-duration-19 {
    width: 418px
}

.schedule .row .view-row-duration-20 {
    width: 440px
}

.schedule .row .view-row-duration-21 {
    width: 462px
}

.schedule .row .view-row-duration-22 {
    width: 484px
}

.schedule .row .view-row-duration-23 {
    width: 506px
}

.schedule .row .view-row-duration-24 {
    width: 528px
}

.schedule .row .view-row-duration-25 {
    width: 550px
}

.schedule .row .view-row-duration-26 {
    width: 572px
}

.schedule .row .view-row-duration-27 {
    width: 594px
}

.schedule .row .view-row-duration-28 {
    width: 616px
}

.schedule .row .view-row-duration-29 {
    width: 638px
}

.schedule .row .view-row-duration-30 {
    width: 660px
}

.schedule .row .view-row-duration-31 {
    width: 682px
}

.schedule .row .view-row-duration-32 {
    width: 704px
}

.schedule .row .view-row-duration-33 {
    width: 726px
}

.schedule .row .view-row-duration-34 {
    width: 748px
}

.schedule .row .view-row-duration-35 {
    width: 770px
}

.schedule .row .view-row-duration-36 {
    width: 792px
}

.schedule .row .view-row-duration-37 {
    width: 814px
}

.schedule .row .view-row-duration-38 {
    width: 836px
}

.schedule .row .view-row-duration-39 {
    width: 858px
}

.schedule .row .view-row-duration-40 {
    width: 880px
}

.schedule .row .view-row-duration-41 {
    width: 902px
}

.schedule .row .view-row-duration-42 {
    width: 924px
}

.schedule .row .view-row-duration-43 {
    width: 946px
}

.schedule .row .view-row-duration-44 {
    width: 968px
}

.schedule .row .view-row-duration-45 {
    width: 990px
}

.schedule .row .view-row-duration-46 {
    width: 1012px
}

.schedule .row .view-row-duration-47 {
    width: 1034px
}

.schedule .row .view-row-duration-48 {
    width: 1056px
}

.schedule .row .view-row-duration-49 {
    width: 1078px
}

.schedule .row .view-row-duration-50 {
    width: 1100px
}

.schedule .row .view-row-duration-51 {
    width: 1122px
}

.schedule .row .view-row-duration-52 {
    width: 1144px
}

.schedule .row .view-row-duration-53 {
    width: 1166px
}

.schedule .row .view-row-duration-54 {
    width: 1188px
}

.schedule .row .view-row-duration-55 {
    width: 1210px
}

.schedule .row .view-row-duration-56 {
    width: 1232px
}

.schedule .row .view-row-duration-57 {
    width: 1254px
}

.schedule .row .view-row-duration-58 {
    width: 1276px
}

.schedule .row .view-row-duration-59 {
    width: 1298px
}

.schedule .row .view-row-duration-60 {
    width: 1320px
}

.schedule .row .view-row-duration-61 {
    width: 1342px
}

.schedule .row .view-row-duration-62 {
    width: 1364px
}

.schedule .row .view-row-duration-63 {
    width: 1386px
}

.schedule .row .view-row-duration-64 {
    width: 1408px
}

.schedule .row .view-row-duration-65 {
    width: 1430px
}

.schedule .row .view-row-duration-66 {
    width: 1452px
}

.schedule .row .view-row-duration-67 {
    width: 1474px
}

.schedule .row .view-row-duration-68 {
    width: 1496px
}

.schedule .row .view-row-duration-69 {
    width: 1518px
}

.schedule .row .view-row-duration-70 {
    width: 1540px
}

.schedule .row .view-row-duration-71 {
    width: 1562px
}

.schedule .row .view-row-duration-72 {
    width: 1584px
}

.schedule .row .view-row-duration-73 {
    width: 1606px
}

.schedule .row .view-row-duration-74 {
    width: 1628px
}

.schedule .row .view-row-duration-75 {
    width: 1650px
}

.schedule .row .view-row-duration-76 {
    width: 1672px
}

.schedule .row .view-row-duration-77 {
    width: 1694px
}

.schedule .row .view-row-duration-78 {
    width: 1716px
}

.schedule .row .view-row-duration-79 {
    width: 1738px
}

.schedule .row .view-row-duration-80 {
    width: 1760px
}

.schedule .row .view-row-duration-81 {
    width: 1782px
}

.schedule .row .view-row-duration-82 {
    width: 1804px
}

.schedule .row .view-row-duration-83 {
    width: 1826px
}

.schedule .row .view-row-duration-84 {
    width: 1848px
}

.schedule .row .view-row-duration-85 {
    width: 1870px
}

.schedule .row .view-row-duration-86 {
    width: 1892px
}

.schedule .row .view-row-duration-87 {
    width: 1914px
}

.schedule .row .view-row-duration-88 {
    width: 1936px
}

.schedule .row .view-row-duration-89 {
    width: 1958px
}

.schedule .row .view-row-duration-90 {
    width: 1980px
}

.schedule .row .view-row-duration-91 {
    width: 2002px
}

.schedule .row .view-row-duration-92 {
    width: 2024px
}

.schedule .row .view-row-duration-93 {
    width: 2046px
}

.schedule .row .view-row-duration-94 {
    width: 2068px
}

.schedule .row .view-row-duration-95 {
    width: 2090px
}

.schedule .row .view-row-duration-96 {
    width: 2112px
}

.schedule .row .view-row-duration-97 {
    width: 2134px
}

.schedule .row .view-row-duration-98 {
    width: 2156px
}

.schedule .row .view-row-duration-99 {
    width: 2178px
}

.schedule .row .view-row-duration-100 {
    width: 2200px
}

.schedule .row .view-row-duration-101 {
    width: 2222px
}

.schedule .row .view-row-duration-102 {
    width: 2244px
}

.schedule .row .view-row-duration-103 {
    width: 2266px
}

.schedule .row .view-row-duration-104 {
    width: 2288px
}

.schedule .row .view-row-duration-105 {
    width: 2310px
}

.schedule .row .view-row-duration-106 {
    width: 2332px
}

.schedule .row .view-row-duration-107 {
    width: 2354px
}

.schedule .row .view-row-duration-108 {
    width: 2376px
}

.schedule .row .view-row-duration-109 {
    width: 2398px
}

.schedule .row .view-row-duration-110 {
    width: 2420px
}

.schedule .row .view-row-duration-111 {
    width: 2442px
}

.schedule .row .view-row-duration-112 {
    width: 2464px
}

.schedule .row .view-row-duration-113 {
    width: 2486px
}

.schedule .row .view-row-duration-114 {
    width: 2508px
}

.schedule .row .view-row-duration-115 {
    width: 2530px
}

.schedule .row .view-row-duration-116 {
    width: 2552px
}

.schedule .row .view-row-duration-117 {
    width: 2574px
}

.schedule .row .view-row-duration-118 {
    width: 2596px
}

.schedule .row .view-row-duration-119 {
    width: 2618px
}

.schedule .row .view-row-duration-120 {
    width: 2640px
}

.schedule .row .view-row-duration-121 {
    width: 2662px
}

.schedule .row .view-row-duration-122 {
    width: 2684px
}

.schedule .row .view-row-duration-123 {
    width: 2706px
}

.schedule .row .view-row-duration-124 {
    width: 2728px
}

.schedule .row .view-row-duration-125 {
    width: 2750px
}

.schedule .row .view-row-duration-126 {
    width: 2772px
}

.schedule .row .view-row-duration-127 {
    width: 2794px
}

.schedule .row .view-row-duration-128 {
    width: 2816px
}

.schedule .row .view-row-duration-129 {
    width: 2838px
}

.schedule .row .view-row-duration-130 {
    width: 2860px
}

.schedule .row .view-row-duration-131 {
    width: 2882px
}

.schedule .row .view-row-duration-132 {
    width: 2904px
}

.schedule .row .view-row-duration-133 {
    width: 2926px
}

.schedule .row .view-row-duration-134 {
    width: 2948px
}

.schedule .row .view-row-duration-135 {
    width: 2970px
}

.schedule .row .view-row-duration-136 {
    width: 2992px
}

.schedule .row .view-row-duration-137 {
    width: 3014px
}

.schedule .row .view-row-duration-138 {
    width: 3036px
}

.schedule .row .view-row-duration-139 {
    width: 3058px
}

.schedule .row .view-row-duration-140 {
    width: 3080px
}

.schedule .row .view-row-duration-141 {
    width: 3102px
}

.schedule .row .view-row-duration-142 {
    width: 3124px
}

.schedule .row .view-row-duration-143 {
    width: 3146px
}

.schedule .row .view-row-duration-144 {
    width: 3168px
}

.schedule .row .view-row-duration-145 {
    width: 3190px
}

.schedule .row .view-row-duration-146 {
    width: 3212px
}

.schedule .row .view-row-duration-147 {
    width: 3234px
}

.schedule .row .view-row-duration-148 {
    width: 3256px
}

.schedule .row .view-row-duration-149 {
    width: 3278px
}

.schedule .row .view-row-duration-150 {
    width: 3300px
}

.schedule .row .view-row-duration-151 {
    width: 3322px
}

.schedule .row .view-row-duration-152 {
    width: 3344px
}

.schedule .row .view-row-duration-153 {
    width: 3366px
}

.schedule .row .view-row-duration-154 {
    width: 3388px
}

.schedule .row .view-row-duration-155 {
    width: 3410px
}

.schedule .row .view-row-duration-156 {
    width: 3432px
}

.schedule .row .view-row-duration-157 {
    width: 3454px
}

.schedule .row .view-row-duration-158 {
    width: 3476px
}

.schedule .row .view-row-duration-159 {
    width: 3498px
}

.schedule .row .view-row-duration-160 {
    width: 3520px
}

.schedule .row .view-row-duration-161 {
    width: 3542px
}

.schedule .row .view-row-duration-162 {
    width: 3564px
}

.schedule .row .view-row-duration-163 {
    width: 3586px
}

.schedule .row .view-row-duration-164 {
    width: 3608px
}

.schedule .row .view-row-duration-165 {
    width: 3630px
}

.schedule .row .view-row-duration-166 {
    width: 3652px
}

.schedule .row .view-row-duration-167 {
    width: 3674px
}

.schedule .row .view-row-duration-168 {
    width: 3696px
}

.schedule .row .view-row-duration-169 {
    width: 3718px
}

.schedule .row .view-row-duration-170 {
    width: 3740px
}

.schedule .row .view-row-duration-171 {
    width: 3762px
}

.schedule .row .view-row-duration-172 {
    width: 3784px
}

.schedule .row .view-row-duration-173 {
    width: 3806px
}

.schedule .row .view-row-duration-174 {
    width: 3828px
}

.schedule .row .view-row-duration-175 {
    width: 3850px
}

.schedule .row .view-row-duration-176 {
    width: 3872px
}

.schedule .row .view-row-duration-177 {
    width: 3894px
}

.schedule .row .view-row-duration-178 {
    width: 3916px
}

.schedule .row .view-row-duration-179 {
    width: 3938px
}

.schedule .row .view-row-duration-180 {
    width: 3960px
}

.schedule .row .view-row-duration-181 {
    width: 3982px
}

.schedule .row .view-row-duration-182 {
    width: 4004px
}

.schedule .row .view-row-duration-183 {
    width: 4026px
}

.schedule .row .view-row-duration-184 {
    width: 4048px
}

.schedule .row .view-row-duration-185 {
    width: 4070px
}

.schedule .row .view-row-duration-186 {
    width: 4092px
}

.schedule .row .view-row-duration-187 {
    width: 4114px
}

.schedule .row .view-row-duration-188 {
    width: 4136px
}

.schedule .row .view-row-duration-189 {
    width: 4158px
}

.schedule .row .view-row-duration-190 {
    width: 4180px
}

.schedule .row .view-row-duration-191 {
    width: 4202px
}

.schedule .row .view-row-duration-192 {
    width: 4224px
}

.schedule .row .view-row-duration-193 {
    width: 4246px
}

.schedule .row .view-row-duration-194 {
    width: 4268px
}

.schedule .row .view-row-duration-195 {
    width: 4290px
}

.schedule .row .view-row-duration-196 {
    width: 4312px
}

.schedule .row .view-row-duration-197 {
    width: 4334px
}

.schedule .row .view-row-duration-198 {
    width: 4356px
}

.schedule .row .view-row-duration-199 {
    width: 4378px
}

.schedule .row .view-row-duration-200 {
    width: 4400px
}

.schedule .row .view-row-duration-201 {
    width: 4422px
}

.schedule .row .view-row-duration-202 {
    width: 4444px
}

.schedule .row .view-row-duration-203 {
    width: 4466px
}

.schedule .row .view-row-duration-204 {
    width: 4488px
}

.schedule .row .view-row-duration-205 {
    width: 4510px
}

.schedule .row .view-row-duration-206 {
    width: 4532px
}

.schedule .row .view-row-duration-207 {
    width: 4554px
}

.schedule .row .view-row-duration-208 {
    width: 4576px
}

.schedule .row .view-row-duration-209 {
    width: 4598px
}

.schedule .row .view-row-duration-210 {
    width: 4620px
}

.schedule .row .view-row-duration-211 {
    width: 4642px
}

.schedule .row .view-row-duration-212 {
    width: 4664px
}

.schedule .row .view-row-duration-213 {
    width: 4686px
}

.schedule .row .view-row-duration-214 {
    width: 4708px
}

.schedule .row .view-row-duration-215 {
    width: 4730px
}

.schedule .row .view-row-duration-216 {
    width: 4752px
}

.schedule .row .view-row-duration-217 {
    width: 4774px
}

.schedule .row .view-row-duration-218 {
    width: 4796px
}

.schedule .row .view-row-duration-219 {
    width: 4818px
}

.schedule .row .view-row-duration-220 {
    width: 4840px
}

.schedule .row .view-row-duration-221 {
    width: 4862px
}

.schedule .row .view-row-duration-222 {
    width: 4884px
}

.schedule .row .view-row-duration-223 {
    width: 4906px
}

.schedule .row .view-row-duration-224 {
    width: 4928px
}

.schedule .row .view-row-duration-225 {
    width: 4950px
}

.schedule .row .view-row-duration-226 {
    width: 4972px
}

.schedule .row .view-row-duration-227 {
    width: 4994px
}

.schedule .row .view-row-duration-228 {
    width: 5016px
}

.schedule .row .view-row-duration-229 {
    width: 5038px
}

.schedule .row .view-row-duration-230 {
    width: 5060px
}

.schedule .row .view-row-duration-231 {
    width: 5082px
}

.schedule .row .view-row-duration-232 {
    width: 5104px
}

.schedule .row .view-row-duration-233 {
    width: 5126px
}

.schedule .row .view-row-duration-234 {
    width: 5148px
}

.schedule .row .view-row-duration-235 {
    width: 5170px
}

.schedule .row .view-row-duration-236 {
    width: 5192px
}

.schedule .row .view-row-duration-237 {
    width: 5214px
}

.schedule .row .view-row-duration-238 {
    width: 5236px
}

.schedule .row .view-row-duration-239 {
    width: 5258px
}

.schedule .row .view-row-duration-240 {
    width: 5280px
}

.schedule .row .view-row-duration-241 {
    width: 5302px
}

.schedule .row .view-row-duration-242 {
    width: 5324px
}

.schedule .row .view-row-duration-243 {
    width: 5346px
}

.schedule .row .view-row-duration-244 {
    width: 5368px
}

.schedule .row .view-row-duration-245 {
    width: 5390px
}

.schedule .row .view-row-duration-246 {
    width: 5412px
}

.schedule .row .view-row-duration-247 {
    width: 5434px
}

.schedule .row .view-row-duration-248 {
    width: 5456px
}

.schedule .row .view-row-duration-249 {
    width: 5478px
}

.schedule .row .view-row-duration-250 {
    width: 5500px
}

.schedule .row .view-row-duration-251 {
    width: 5522px
}

.schedule .row .view-row-duration-252 {
    width: 5544px
}

.schedule .row .view-row-duration-253 {
    width: 5566px
}

.schedule .row .view-row-duration-254 {
    width: 5588px
}

.schedule .row .view-row-duration-255 {
    width: 5610px
}

.schedule .row .view-row-duration-256 {
    width: 5632px
}

.schedule .row .view-row-duration-257 {
    width: 5654px
}

.schedule .row .view-row-duration-258 {
    width: 5676px
}

.schedule .row .view-row-duration-259 {
    width: 5698px
}

.schedule .row .view-row-duration-260 {
    width: 5720px
}

.schedule .row .view-row-duration-261 {
    width: 5742px
}

.schedule .row .view-row-duration-262 {
    width: 5764px
}

.schedule .row .view-row-duration-263 {
    width: 5786px
}

.schedule .row .view-row-duration-264 {
    width: 5808px
}

.schedule .row .view-row-duration-265 {
    width: 5830px
}

.schedule .row .view-row-duration-266 {
    width: 5852px
}

.schedule .row .view-row-duration-267 {
    width: 5874px
}

.schedule .row .view-row-duration-268 {
    width: 5896px
}

.schedule .row .view-row-duration-269 {
    width: 5918px
}

.schedule .row .view-row-duration-270 {
    width: 5940px
}

.schedule .row .view-row-duration-271 {
    width: 5962px
}

.schedule .row .view-row-duration-272 {
    width: 5984px
}

.schedule .row .view-row-duration-273 {
    width: 6006px
}

.schedule .row .view-row-duration-274 {
    width: 6028px
}

.schedule .row .view-row-duration-275 {
    width: 6050px
}

.schedule .row .view-row-duration-276 {
    width: 6072px
}

.schedule .row .view-row-duration-277 {
    width: 6094px
}

.schedule .row .view-row-duration-278 {
    width: 6116px
}

.schedule .row .view-row-duration-279 {
    width: 6138px
}

.schedule .row .view-row-duration-280 {
    width: 6160px
}

.schedule .row .view-row-duration-281 {
    width: 6182px
}

.schedule .row .view-row-duration-282 {
    width: 6204px
}

.schedule .row .view-row-duration-283 {
    width: 6226px
}

.schedule .row .view-row-duration-284 {
    width: 6248px
}

.schedule .row .view-row-duration-285 {
    width: 6270px
}

.schedule .row .view-row-duration-286 {
    width: 6292px
}

.schedule .row .view-row-duration-287 {
    width: 6314px
}

.schedule .row .view-row-duration-288 {
    width: 6336px
}

.schedule .open {
    height: 200px;
    background: orange
}

.schedule .open .views-row {
    padding: 0;
    margin: 0
}

.schedule .open:first-child .row .views-row {
    background: #f7f7f4
}

.schedule .open:first-child .row .views-row .infos {
    color: #fff
}

.schedule .open:first-child .row .views-row .infos a {
    color: #fff;
    word-wrap: break-word
}

.schedule .open:hover .date {
    background: #e27b04;
    background: -moz-linear-gradient(top,#e27b04 0%,#fba60a 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#e27b04),color-stop(100%,#fba60a));
    background: -webkit-linear-gradient(top,#e27b04 0%,#fba60a 100%);
    background: -o-linear-gradient(top,#e27b04 0%,#fba60a 100%);
    background: -ms-linear-gradient(top,#e27b04 0%,#fba60a 100%);
    background: linear-gradient(to bottom,#e27b04 0%,#fba60a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e27b04', endColorstr='#fba60a', GradientType=0)
}

.schedule .open .date {
    height: 200px;
    background: #e27b04;
    background: -moz-linear-gradient(top,#e27b04 0%,#fba60a 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#e27b04),color-stop(100%,#fba60a));
    background: -webkit-linear-gradient(top,#e27b04 0%,#fba60a 100%);
    background: -o-linear-gradient(top,#e27b04 0%,#fba60a 100%);
    background: -ms-linear-gradient(top,#e27b04 0%,#fba60a 100%);
    background: linear-gradient(to bottom,#e27b04 0%,#fba60a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e27b04', endColorstr='#fba60a', GradientType=0)
}

.schedule .open .views-field-field-image img {
    margin: -12px -16px;
    display: visible;
    z-index: -1
}

.schedule .open .views-field-field-datetime {
    z-index: 20;
    margin: -70px 0 0 0;
    color: #fff
}

.schedule .open .infos {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: url('../img/shadow_r.png?423423333334') repeat-x bottom;
    color: #fff;
    padding: 37px 15px 20px
}

.view-row-schedule-live .infos {
    color: #fff
}

.view-row-schedule-live .infos .title a {
    color: #fff
}

.schedule .day_row:hover .row .views-row.view-row-schedule-live .infos,.schedule .day_row:hover .row .views-row.view-row-schedule-live .infos a {
    color: #fff
}

.schedule .open .infos a {
    color: #fff
}

.schedule .open .infos .genre a {
    font-size: 15px
}

.schedule .open .row {
    height: 200px;
    vertical-align: bottom
}

.schedule .open .views-row {
    height: 200px;
    background: orange
}

.schedule .open .views-row .img {
    display: inline-block
}

.schedule .ruller {
    background: #e0e0e0;
    height: 33px;
    font-family: tahoma;
    font-size: 21px;
    margin-left: -35px;
    cursor: e-resize
}

.schedule .row {
    cursor: e-resize
}

.paper_on_theme .item-list .pager {
    text-align: left
}

.schedule .ruller .left {
    height: 30px;
    width: 24px;
    display: block;
    position: absolute;
    padding-top: 3px;
    padding-left: 10px;
    color: #b4b4b4;
    font-family: georgia;
    z-index: 5000;
    background: #e0e0e0
}

.schedule .ruller .right {
    height: 30px;
    width: 24px;
    display: block;
    position: absolute;
    right: 0;
    padding-top: 3px;
    padding-left: 10px;
    margin-right: 3px;
    color: #b4b4b4;
    font-family: georgia
}

.schedule .ruller .alltime {
    margin-left: -32px;
    padding-top: 2px;
    position: absolute;
    overflow: hidden;
    height: 31px;
    width: 6336px
}

.schedule .ruller .time {
    float: left;
    margin: 0 32px;
    font-size: 18px;
    z-index: 20;
    padding-top: 3px;
    width: 68px;
    text-align: center
}

.schedule .ruller .time:after {
    content: '.';
    position: absolute;
    font-size: 20px;
    margin: 8px -26px;
    color: #999
}

.view-display-id-page_2 .views-field.views-field-created {
    width: 160px;
    float: left;
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: #444
}

.view-display-id-page_2 .views-field.views-field-totalcount {
    float: left;
    color: #555;
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #727272
}

.view-display-id-page_2 .views-field.views-field-totalcount:before {
    content: "\f06e";
    font-family: 'FontAwesome';
    margin-right: 4px
}

.view-display-id-page_2 .views-field.views-field-title {
    line-height: 18px;
    clear: both;
    padding: 8px 0
}

.view-display-id-page_2 .views-field.views-field-body p {
    padding: 0;
    margin: 0
}

.view-display-id-page_2 .view-content {
    width: 785px
}

.view-display-id-page_2 .views-row {
    padding: 16px 0 18px;
    border-top: 1px solid #d9d9d9
}

.view-display-id-page_2 .views-row.views-row-last {
    border-bottom: 1px solid #d9d9d9
}

.view-display-id-page_3 .views-field.views-field-created {
    width: 170px;
    float: left;
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: #444
}

.view-display-id-page_3 .views-field.views-field-totalcount {
    float: left;
    color: #555;
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #727272
}

.view-display-id-page_3 .views-field.views-field-totalcount:before {
    content: "\f06e";
    font-family: 'FontAwesome';
    margin-right: 4px
}

.view-display-id-page_3 .views-field.views-field-title {
    line-height: 18px;
    clear: both
}

.view-display-id-page_3 .views-field.views-field-body p {
    padding: 0;
    margin: 0
}

.view-display-id-page_3 .view-content {
    width: 785px
}

.view-display-id-page_3 .views-row {
    padding: 16px 0 18px;
    border-top: 1px solid #d9d9d9
}

.view-display-id-page_3 .views-row.views-row-last {
    border-bottom: 1px solid #d9d9d9
}

.iScrollIndicator {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: absolute;
    border: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    width: 7px;
    transition: 0ms cubic-bezier(.1,.57,.1,1);
    -webkit-transition: 0ms cubic-bezier(.1,.57,.1,1);
    display: block;
    height: 30%;
    transform: translate(0,0) translateZ(0);
    background: rgba(68,68,68,.34)
}

.iScrollVerticalScrollbar {
    position: absolute;
    z-index: 9;
    width: 10px;
    height: 92%;
    top: 10px;
    right: 1px;
    overflow: hidden;
    transform: translateZ(0);
    transition: 0ms;
    -webkit-transition: 0ms;
    opacity: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box
}

.scrollstrem {
    height: 100%;
    position: relative
}

#block-views-projects-block-3 {
    margin-right: 0
}

#block-views-projects-block-6 {
    margin-right: 0
}

.schedule .open .view-row-schedule-live .infos {
    background: rgba(217,0,0,.6)
}

.schedule .view-row-schedule-live .infos {
    background: #d90000
}

.schedule .view-row-schedule-live .infos a {
    color: #fff
}

.schedule .view-row-schedule-live .infos span.date-display-single {
    font-weight: 700
}

.schedule .view-row-schedule-live .views-field-timeline {
    height: 4px;
    margin-bottom: 0;
    background-color: #a00;
    -webkit-box-shadow: inset 0 2px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 2px 2px rgba(0,0,0,.1);
    -moz-box-shadow: inset 0 2px 2px rgba(0,0,0,.1);
    float: left;
    width: 100%;
    z-index: 1;
    position: absolute;
    bottom: 0
}

.schedule .view-row-schedule-live .timeline-progress {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #ffc832;
    -webkit-box-shadow: inset 0 2px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 2px 2px rgba(0,0,0,.1);
    position: relative
}

.schedule .view-row-schedule-live .infos {
    padding: 15px 20px;
    height: 115px
}

.live_shedule {
    background: #ff2b2b;
    background: -moz-linear-gradient(top,#ff2b2b 60%,#e40101 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(60%,#ff2b2b),color-stop(100%,#e40101));
    background: -webkit-linear-gradient(top,#ff2b2b 60%,#e40101 100%);
    height: 25px;
    background: -o-linear-gradient(top,#ff2b2b 60%,#e40101 100%);
    background: -ms-linear-gradient(top,#ff2b2b 60%,#e40101 100%);
    background: linear-gradient(to bottom,#ff2b2b 60%,#e40101 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff2b2b', endColorstr='#e40101',GradientType=0 );
    width: 132px;
    color: #fff;
    position: absolute;
    right: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    bottom: 0;
    padding: 3px 7px;
    right: 10px;
    bottom: 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    text-transform: uppercase;
    -webkit-box-shadow: 1px 0 2px 0 rgba(51,50,50,.5);
    -moz-box-shadow: 1px 0 2px 0 rgba(51,50,50,.5);
    box-shadow: 1px 0 2px 0 rgba(51,50,50,.5);
    font-size: 15px
}

.live_shedule::after {
    content: "   \f0da";
    font-family: "FontAwesome";
    margin-left: 5px
}

.schedule .day_row.open .view-row-schedule-live .infos {
    padding: 15px 20px 25px;
    height: auto
}

.schedule .promo a {
    background: url(../img/play_path_feature.png) no-repeat;
    width: 23px;
    height: 23px;
    float: right;
    outline: none;
    position: absolute;
    display: block;
    text-indent: -9999px;
    right: 7px;
    bottom: 7px
}

.schedule .promo>div {
    display: none
}

.view-row-schedule-live .video {
    display: none
}

.schedule .day_row:first-child .row .views-row.view-row-schedule-live .infos {
    color: #fff
}

.schedule .day_row:first-child .row .views-row.view-row-schedule-live .infos a {
    color: #fff
}

.schedule .day_row:first-child .row .views-row.view-row-schedule-live .infos a {
    color: #fff
}